Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

.lintstagedrc:

{
  "**/*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "**/*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "**/*.{html,json,md,yml}": ["prettier --write"]
}

🚑 Config: fix disallowed lodash in edge runtime (jsonwebtoken imports lodash)
  apps/site/next.config.js
Due: prettier --write, eslint

♻️ Forms: add FormWithFetch, misc refactors
  apps/site/app/_components/molecules/ImageCropper/ActorImageEmbedCropper.tsx
  apps/site/app/_forms/Form/ActionSubmitButton.tsx
  apps/site/app/_forms/Form/FormWithAction.tsx
  apps/site/app/_forms/Form/FormWithFetch.tsx
  apps/site/app/_forms/Form/SubmitButton.tsx
  apps/site/app/_forms/NextForm/NextForm.tsx
  apps/site/app/_forms/NextForm/NextFormSubmitButton.tsx
  apps/site/app/_forms/SigninForm.tsx
  apps/site/server/actions/login.ts
  apps/site/server/actions/upload/uploadTeamImage.ts
  apps/site/server/actions/upload/uploadTenantImage.ts
  apps/site/server/actions/upload/uploadUserImage.ts
  apps/site/server/actions/utils/withOptimistic.ts
  apps/site/server/actions/utils/wrapAction.ts
  apps/site/server/types.ts
Due: prettier --write, eslint

♻️ Jwt: replace jsonwebtoken with jose
  apps/site/app/api/auth/[tenantOidcName]/callback/route.ts
  apps/site/app/api/auth/oidc/[tenantOidcName]/route.ts
  apps/site/config.ts
  apps/site/config/secrets.ts
  apps/site/next.config.js
  apps/site/server/trpc/auth/jwt.ts
  apps/site/server/trpc/auth/sessions.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🩹 Types: temporary cast for server actions
  apps/site/app/_components/molecules/ImageCropper/ActorImageEmbedCropper.tsx
  apps/site/app/_forms/SigninForm.tsx
Due: prettier --write, eslint

🩹 ActorImageEmbedCropper: make onClick synchronous
  apps/site/app/_components/molecules/ImageCropper/ActorImageEmbedCropper.tsx
Due: prettier --write, eslint

♻️ Schema: tenantValidationForm -> validationFormOfTenant
  apps/site/database/prisma/migrations/20231024064216_init/migration.sql
  apps/site/database/prisma/schema.prisma
Due: none

♻️ Husky: do not do graphql codegen in pre-commit
  .husky/pre-commit
Due: none

🐛 Prisma: fix production seeding
  apps/site/database/prisma/seed.ts
  apps/site/database/prisma/seeders/seed-teams.ts
  apps/site/database/prisma/seeders/seed-tenant.ts
  apps/site/database/prisma/services/upload.ts
  apps/site/server/actions/utils/withAuth.ts
Due: prettier --write, eslint

🐛 JWT: fix jwt expiration time
  apps/site/server/trpc/auth/jwt.ts
Due: prettier --write, eslint

➕ Deps: move husky to prod dependencies (required in prepare)
  package.json
  pnpm-lock.yaml
Due: prettier --write

add windows scripts
  tools/scripts/docker/dev.ps1
  tools/scripts/docker/load-env.ps1
  tools/scripts/docker/reset.ps1
  tools/scripts/prisma/migrate.ps1
Due: none

➕ Deps: move @nx/next to prod dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

✨ Prisma: remove many-to-many relationships & add fk to FileUpload
  apps/site/database/prisma/db.ts
  apps/site/database/prisma/migrations/20231024064216_init/migration.sql
  apps/site/database/prisma/schema.prisma
  apps/site/public/locales/en-US/entities.json
  apps/site/public/locales/fr-FR/entities.json
  apps/site/server/queries/createFormSubmission.ts
  apps/site/server/queries/createTransaction.ts
  apps/site/server/trpc/auth/sessions.ts
Due: prettier --write, eslint

➕ Deps: add @prisma/extension-accelerate
  package.json
  pnpm-lock.yaml
Due: prettier --write

✨ Utils: add isStringArray
  libs/shared/utils/src/arrays/is-string-array.ts
  libs/shared/utils/src/index.ts
Due: prettier --write, eslint

🐛 Site: fix Form generic type, refactor actions & merge withTenantPermission in withAuth
  apps/site/app/_components/molecules/ImageCropper/ActorImageEmbedCropper.tsx
  apps/site/app/_forms/Form/FormWithAction.tsx
  apps/site/app/_forms/Form/FormWithFetch.tsx
  apps/site/app/_forms/SigninForm.tsx
  apps/site/server/actions/login.ts
  apps/site/server/actions/upload/uploadTeamImage.ts
  apps/site/server/actions/upload/uploadTenantImage.ts
  apps/site/server/actions/utils/withAuth.ts
  apps/site/server/actions/utils/withTenantPermission.ts
  apps/site/server/error.ts
  apps/site/server/queries/createFormSubmission.ts
  apps/site/server/types.ts
Due: prettier --write, eslint

🐛 ♻️ Seed: refactor & fix seeding typings
  apps/site/database/prisma/fakers/fake-event.ts
  apps/site/database/prisma/fakers/fake-mission.ts
  apps/site/database/prisma/fakers/fake-submission.ts
  apps/site/database/prisma/seed-development.ts
  apps/site/database/prisma/seed-production.ts
  apps/site/database/prisma/seed.ts
  apps/site/database/prisma/seeders/seed-campus.ts
  apps/site/database/prisma/seeders/seed-categories.ts
  apps/site/database/prisma/seeders/seed-tenant.ts
Due: prettier --write, eslint

♻️ Prisma: add TeamType constraint & rename approvalSubmissionId to eventApprovalSubmissionId
  apps/site/database/prisma/migrations/20231025090327_init/migration.sql
  apps/site/database/prisma/schema.prisma
Due: none

🔨 Hasura: regenerate metadata
  apps/site/database/hasura/metadata/databases/okampus/tables/public_actor.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_address.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_event_approval_step_validators.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_expense_item.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_file_upload.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_form_submission_attachments.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_grant.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_grant_allocate.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_legal_unit_location.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_location.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_project_supervisors.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_tag.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_transaction.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_transaction_tag.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_user.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/tables.yaml
  apps/site/database/hasura/schema.gql
  libs/shared/graphql/src/schema.merged.graphql
Due: none

♻️ RequiredDocument: use action instead of graphql
  apps/site/app/_views/RequiredDocument/RequiredDocumentModal.tsx
  apps/site/server/actions/required-document/insertRequiredDocument.ts
  apps/site/server/actions/required-document/updateRequiredDocument.ts
Due: prettier --write, eslint

⬆️ Deps: upgrade prisma & remove extension-accelerate
  package.json
  pnpm-lock.yaml
Due: prettier --write

🐛 Package: prefix graphql scripts with load-env
  package.json
Due: prettier --write

♻️ 🐛 Prisma: fix PrismaClient instanciation
  apps/site/app/[lang]/(auth)/signin/tenant/page.tsx
  apps/site/app/api/auth/[tenantOidcName]/callback/route.ts
  apps/site/app/api/auth/oidc/[tenantOidcName]/route.ts
  apps/site/database/prisma/db.ts
  apps/site/database/prisma/fakers/fake-action.ts
  apps/site/database/prisma/fakers/fake-event-approval.ts
  apps/site/database/prisma/fakers/fake-event.ts
  apps/site/database/prisma/fakers/fake-mission.ts
  apps/site/database/prisma/fakers/fake-submission.ts
  apps/site/database/prisma/fakers/fake-tag.ts
  apps/site/database/prisma/fakers/fake-user.ts
  apps/site/database/prisma/seed-development.ts
  apps/site/database/prisma/seed.ts
  apps/site/database/prisma/seeders/seed-banks.ts
  apps/site/database/prisma/seeders/seed-campus.ts
  apps/site/database/prisma/seeders/seed-categories.ts
  apps/site/database/prisma/seeders/seed-legal-units.ts
  apps/site/database/prisma/seeders/seed-teams.ts
  apps/site/database/prisma/seeders/seed-tenant.ts
  apps/site/database/prisma/services/geoapify.ts
  apps/site/database/prisma/services/upload.ts
  apps/site/server/actions/login.ts
  apps/site/server/actions/required-document/insertRequiredDocument.ts
  apps/site/server/actions/required-document/updateRequiredDocument.ts
  apps/site/server/actions/upload/uploadUserImage.ts
  apps/site/server/actions/utils/withAuth.ts
  apps/site/server/actions/utils/withTeamPermission.ts
  apps/site/server/queries/createFormSubmission.ts
  apps/site/server/queries/createTransaction.ts
  apps/site/server/trpc/auth/jwt.ts
  apps/site/server/trpc/auth/sessions.ts
  apps/site/server/trpc/auth/tenant.ts
  apps/site/server/trpc/context.ts
  apps/site/server/trpc/routes/getEventLogs.ts
  apps/site/server/trpc/routes/getTeamLogs.ts
  apps/site/server/trpc/routes/getTenantLogs.ts
  apps/site/server/trpc/routes/getTransactionLogs.ts
  apps/site/server/trpc/routes/processReceipt.ts
Due: prettier --write, eslint

🚑 ♻️ Hasura: refactor types, queryies in frontend
  apps/site/app/[lang]/[domain]/event/[slug]/GetEvent.graphql
  apps/site/app/[lang]/[domain]/events/GetEvents.graphql
  apps/site/app/[lang]/[domain]/manage/event/[slug]/GetEventManage.graphql
  apps/site/app/[lang]/[domain]/manage/event/[slug]/UpdateEvent.graphql
  apps/site/app/[lang]/[domain]/manage/event/[slug]/UpdateLocation.graphql
  apps/site/app/[lang]/[domain]/manage/event/[slug]/page.tsx
  apps/site/app/[lang]/[domain]/manage/team/[slug]/GetTeamManage.graphql
  apps/site/app/[lang]/[domain]/manage/team/[slug]/events/GetEventOrganizes.graphql
  apps/site/app/[lang]/[domain]/manage/team/[slug]/events/page.tsx
  apps/site/app/[lang]/[domain]/manage/team/[slug]/transactions/GetTransactions.graphql
  apps/site/app/[lang]/[domain]/manage/tenant/event-approvals/GetEventsValidation.graphql
  apps/site/app/[lang]/[domain]/manage/tenant/event-approvals/page.tsx
  apps/site/app/_components/atoms/Inline/ILocation.tsx
  apps/site/app/_components/forms/LocationForm.tsx
  apps/site/app/_components/forms/MultiStepForm/EventForm/EventForm.tsx
  apps/site/app/_components/forms/MultiStepForm/EventForm/InsertEvent.graphql
  apps/site/app/_components/forms/MultiStepForm/TransactionForm/InsertTransaction.graphql
  apps/site/app/_components/layouts/SidePanel/TransactionSidePanel/TransactionEdit.tsx
  apps/site/app/_components/layouts/SidePanel/TransactionSidePanel/TransactionHistory.tsx
  apps/site/app/_components/layouts/SidePanel/TransactionSidePanel/TransactionSidePanel.tsx
  apps/site/app/_components/layouts/SidePanel/TransactionSidePanel/UpdateTransaction.graphql
  apps/site/app/_components/molecules/PopoverCard/EventPopoverCard.tsx
  apps/site/app/_views/TransactionDashboard.tsx
  apps/site/database/hasura/metadata/databases/okampus/tables/public_event.yaml
  apps/site/database/hasura/schema.gql
  apps/site/public/locales/en-US/entities.json
  apps/site/public/locales/fr-FR/entities.json
  apps/site/types/features/event.info.ts
  apps/site/types/features/location.info.ts
  apps/site/types/features/transaction.info.ts
  libs/shared/graphql/src/generated.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

🐛 Prisma: refactor some types, remove prisma from middleware
  apps/site/app/[lang]/[domain]/event/[slug]/EventView.tsx
  apps/site/app/[lang]/[domain]/manage/event/[slug]/page.tsx
  apps/site/app/_components/atoms/Inline/IAddress.tsx
  apps/site/app/_components/atoms/Inline/ILocation.tsx
  apps/site/app/_components/forms/LocationForm.tsx
  apps/site/app/_components/forms/MultiStepPage/OnboardBankForm.tsx
  apps/site/app/_components/organisms/Calendar.tsx
  apps/site/database/prisma/db.ts
  apps/site/middleware.ts
  apps/site/server/actions/login.ts
  apps/site/types/features/address.info.ts
  apps/site/types/features/bank-info.info.ts
  apps/site/types/features/event.info.ts
  apps/site/types/features/legal-unit-location.info.ts
  apps/site/types/features/location.info.ts
Due: prettier --write, eslint

🚑 Login: fix login prisma query
  apps/site/server/actions/login.ts
Due: prettier --write, eslint

🐛 Seeding: fix event seeding
  apps/site/database/prisma/fakers/fake-event.ts
Due: prettier --write, eslint

🐛 Prisma: fix wrong foreign key name in schema
  apps/site/database/prisma/migrations/20231120093325_init/migration.sql
  apps/site/database/prisma/schema.prisma
Due: none

➕ Deps: add debug
  package.json
  pnpm-lock.yaml
Due: prettier --write
