Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

♻️ 💄 Site: misc UI refactors
  apps/site/components/atoms/Image/EmptyStateImage.tsx
  apps/site/components/atoms/Layout/ViewLayout.tsx
  apps/site/components/layouts/BottomBar.tsx
  apps/site/components/layouts/SideBar.tsx
  apps/site/components/layouts/SideBar/ManageButton/EventManageButton.tsx
  apps/site/components/layouts/SideBar/ManageButton/ProjectManageButton.tsx
  apps/site/components/layouts/SideBar/ManageButton/TeamManageButton.tsx
  apps/site/components/layouts/SideBar/ManageButton/TenantManageButton.tsx
  apps/site/components/layouts/SidePanel.tsx
  apps/site/components/molecules/Button/ActionButton.tsx
  apps/site/components/molecules/Button/CTAButton.tsx
  apps/site/components/molecules/Button/SegmentedButton.tsx
  apps/site/components/molecules/Card/EventCard.tsx
  apps/site/components/molecules/Input/DarkModeToggle.tsx
  apps/site/components/molecules/Input/Date/CalendarInput.tsx
  apps/site/locales/en-US/common.json
  apps/site/locales/fr-FR/common.json
  apps/site/styles/colors.scss
  apps/site/utils/format/get-class-for-action-type.ts
Due: prettier --write, stylelint --fix, eslint

🐛 Site: regenerate queries without FormType
  apps/site/app/(frontend)/(app)/GetMe.graphql
  apps/site/app/(frontend)/(app)/event/[slug]/GetEvent.graphql
  apps/site/app/(frontend)/(app)/events/GetEvents.graphql
  apps/site/app/(frontend)/(app)/manage/event/[slug]/GetEventManage.graphql
  apps/site/app/(frontend)/(app)/manage/event/[slug]/UpdateEvent.graphql
  apps/site/app/(frontend)/(app)/manage/team/[slug]/GetTeamManage.graphql
  apps/site/app/(frontend)/(app)/manage/team/[slug]/events/GetEventOrganizes.graphql
  apps/site/app/(frontend)/(app)/manage/tenant/event-approvals/GetEventsValidation.graphql
  apps/site/app/(frontend)/(app)/team/[slug]/GetTeam.graphql
  apps/site/app/(frontend)/(app)/teams/GetTeams.graphql
  apps/site/components/forms/MultiStepForm/EventForm/InsertEvent.graphql
  apps/site/components/molecules/PopoverCard/GetTeamPopover.graphql
  apps/site/components/organisms/UpdateForm.graphql
  libs/shared/graphql/src/generated.ts
Due: prettier --write, eslint

✨ API: add canManageDocuments permissions in TeamRole
  apps/api/database/hasura/schema.gql
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230916013330.ts
  libs/api/dal/src/defaults/default-team-roles.ts
  libs/api/dal/src/resources/team/team-role/team-role.entity.ts
  libs/api/dal/src/resources/team/team-role/team-role.options.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

🐛 Hasura: fix form permissions metadata
  apps/api/database/hasura/metadata/databases/okampus/tables/public_form.yaml
Due: none

🐛 API: seeding fixes
  apps/api/src/app.module.ts
  apps/api/src/seeders/app.seeder.ts
  apps/api/src/seeders/seed/data/tenant.data.ts
  libs/api/dal/src/resources/tenant/tenant-role/tenant-role.options.ts
Due: prettier --write, eslint

🐛 DAL: remove permission from tenant-member
  apps/api/database/hasura/schema.gql
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230916093705.ts
  libs/api/dal/src/resources/tenant/tenant-member/tenant-member.entity.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

🔨 Site: update some queries, regenerate graphql codegen
  apps/site/app/(frontend)/(app)/manage/event/[slug]/GetEventManage.graphql
  apps/site/app/(frontend)/(app)/manage/event/[slug]/UpdateEvent.graphql
  apps/site/app/(frontend)/(app)/manage/team/[slug]/events/GetEventOrganizes.graphql
  libs/shared/graphql/src/generated.ts
Due: prettier --write, eslint

♻️ API: minor refactors & fixes
  apps/api/src/app.module.ts
  apps/api/tsconfig.migrations.json
  libs/api/bll/src/global/uploads/uploads.service.ts
  libs/api/dal/src/resources/user/user.entity.ts
  libs/api/dal/src/resources/user/user.repository.ts
  tsconfig.base.json
Due: prettier --write, eslint

♻️ BLL: use repositories in auth service instead of em directly
  libs/api/bll/src/global/auth/auth.module.ts
  libs/api/bll/src/global/auth/auth.service.ts
  libs/api/dal/src/resources/tenant/tenant.repository.ts
  libs/api/dal/src/resources/user/session/session.entity.ts
Due: prettier --write, eslint

🧑‍💻 Meta: Improve developer experience
  .env.dev.example
  .gitignore
  apps/api/.env.example
  apps/api/.gitignore
  apps/api/README.md
  apps/api/database/hasura/close.sh
  apps/api/database/hasura/run.sh
  apps/api/project.json
  apps/api/scripts/launch.sh
  apps/api/src/app.module.ts
  apps/api/src/bootstrap/bootstrap.ts
  apps/api/src/config.ts
  docker-compose.dev.yml
  docs/running.md
  libs/api/bll/src/global/auth/auth.service.ts
  libs/api/bll/src/global/cache/redis.module.ts
  libs/api/bll/src/global/cache/redis.service.ts
  libs/api/bll/src/global/geocode/geocode.service.ts
  libs/api/bll/src/global/health/health.controller.ts
  libs/api/bll/src/global/search/meilisearch.module.ts
  libs/api/bll/src/global/uploads/uploads.module.ts
  libs/api/bll/src/global/uploads/uploads.service.ts
  libs/shared/types/src/api/config.interface.ts
  libs/shared/utils/src/files/make-s3-url.ts
  libs/shared/utils/src/index.ts
  package.json
  tools/scripts/refresh-db.sh
Due: prettier --write, eslint

Refactor hasura env variables
  .env.dev.example
  docker-compose.dev.yml
Due: prettier --write

♻️ API: refactor default config & remove makeS3Url
  .env.dev.example
  apps/api/.env.example
  apps/api/src/config.ts
  libs/api/bll/src/global/uploads/uploads.service.ts
  libs/shared/types/src/api/config.interface.ts
  libs/shared/utils/src/files/make-s3-url.ts
  libs/shared/utils/src/index.ts
Due: prettier --write, eslint

🐛 Types: remove DeepPartial & replace it in MultiStepForm
  apps/site/components/organisms/Form/MultiStepForm.tsx
  libs/shared/types/src/index.ts
  libs/shared/types/src/types/deep-partial.type.ts
Due: prettier --write, eslint

➕ Deps: replace @imbios/next-pwa by @ducanh2912/next-pwa
  apps/site/next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

♻️ API! remove REDIS_PASSWORD in env by default
  apps/api/.env.example
Due: none

✨ DAL: allow multiple MissionJoin in EventJoin
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230918055459.ts
  libs/api/dal/src/resources/event/event-join/event-join.entity.ts
  libs/api/dal/src/resources/event/event-join/event-join.options.ts
  libs/api/dal/src/resources/team/mission-join/mission-join.entity.ts
Due: prettier --write, eslint

🐛 Docker: fix docker-compose & example envs
  .env.dev.example
  apps/api/.env.example
  apps/api/database/init-scripts/init-db.sh
  docker-compose.dev.yml
  package.json
Due: prettier --write

🐛 API: fix init-db in docker-compose
  .env.dev.example
  apps/api/database/init-scripts/init-db.sh
Due: none

🐛 docker-compose: allow hasura to access host via host.docker.internal
  .env.dev.example
  apps/api/.env.example
  docker-compose.dev.yml
Due: prettier --write

✨ API: add ProjectSupervisor, regenerate hasura & migrations
  apps/api/database/hasura/metadata/databases/okampus/tables/public_event_join.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_mission_join.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_project.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_project_supervisor.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_required_document.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_team_member.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_tenant.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_user.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/tables.yaml
  apps/api/database/hasura/schema.gql
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230919091411.ts
  apps/api/src/seeders/app.seeder.ts
  libs/api/dal/src/resources/entities.ts
  libs/api/dal/src/resources/team/project-supervisor/project-supervisor.entity.ts
  libs/api/dal/src/resources/team/project-supervisor/project-supervisor.options.ts
  libs/api/dal/src/resources/team/project-supervisor/project-supervisor.repository.ts
  libs/api/dal/src/resources/team/project/project.entity.ts
  libs/api/dal/src/resources/team/project/project.options.ts
  libs/shared/enums/src/dal/entity-name.enum.ts
  libs/shared/graphql/src/schema.merged.graphql
  tools/scripts/graphql-merge.mjs
Due: prettier --write, eslint

♻️ API: use User instead of TeamMember in EventOrganize
  apps/api/database/hasura/schema.gql
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230919092534.ts
  apps/api/src/seeders/app.seeder.ts
  libs/api/dal/src/resources/event/event-supervisor/event-supervisor.entity.ts
  libs/api/dal/src/resources/event/event-supervisor/event-supervisor.options.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

🐛 Scripts: fix graphql-merge & regenerate schema.merged
  libs/shared/graphql/src/schema.merged.graphql
  tools/scripts/graphql-merge.mjs
Due: none

🔨 API: regenerate hasura
  apps/api/database/hasura/metadata/databases/okampus/tables/public_event_supervisor.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_team_member.yaml
  apps/api/database/hasura/metadata/databases/okampus/tables/public_user.yaml
  apps/api/database/hasura/schema.gql
  libs/shared/graphql/src/schema.merged.graphql
  tools/scripts/refresh-db.sh
Due: none

🐛 Site: fix graphql queries & event supervisor type
  apps/site/app/(frontend)/(app)/confirm-attendance/GetEventJoin.graphql
  apps/site/app/(frontend)/(app)/confirm-attendance/[eventJoinId]/page.tsx
  apps/site/app/(frontend)/(app)/event/[slug]/EventSidePanel.tsx
  apps/site/app/(frontend)/(app)/event/[slug]/GetEvent.graphql
  apps/site/app/(frontend)/(app)/events/GetEvents.graphql
  apps/site/app/(frontend)/(app)/layout.tsx
  apps/site/app/(frontend)/(app)/manage/event/[slug]/GetEventManage.graphql
  apps/site/app/(frontend)/(app)/manage/event/[slug]/UpdateEvent.graphql
  apps/site/app/(frontend)/(app)/manage/project/[slug]/GetProjectManage.graphql
  apps/site/app/(frontend)/(app)/manage/team/[slug]/GetTeamManage.graphql
  apps/site/app/(frontend)/(app)/manage/team/[slug]/events/GetEventOrganizes.graphql
  apps/site/app/(frontend)/(app)/manage/team/[slug]/events/page.tsx
  apps/site/app/(frontend)/(app)/manage/tenant/event-approvals/GetEventsValidation.graphql
  apps/site/app/(frontend)/(app)/page.tsx
  apps/site/app/(frontend)/(app)/project/[slug]/GetProject.graphql
  apps/site/components/forms/MultiStepForm/EventForm/InsertEvent.graphql
  apps/site/context/navigation.ts
  apps/site/types/features/event.info.ts
  libs/shared/graphql/src/generated.ts
Due: prettier --write, eslint

♻️ Tools: move prisma scripts, add generate script & build commands using prisma
  package.json
  tools/scripts/prisma/generate.sh
  tools/scripts/prisma/init-features.sh
  tools/scripts/prisma/migrate.sh
  tools/scripts/prisma/refresh-graphql.sh
  tools/scripts/prisma/seed.sh
  tools/scripts/prisma/studio.sh
Due: prettier --write

✏️ ♻️ Misc: fixes
  apps/site/environment.d.ts
  apps/site/next.config.js
  libs/shared/graphql/src/generated.ts
Due: prettier --write, eslint

✨ Utils: safer url concatenation with urlJoin
  apps/site/app/(frontend)/(app)/event/[slug]/EventSidebar.tsx
  apps/site/app/(frontend)/(app)/manage/event/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/manage/project/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/project/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/team/[slug]/layout.tsx
  apps/site/app/_components/layouts/SideBar/TeamManageNavigation.tsx
  apps/site/utils/s3/get-s3-url.ts
  apps/site/utils/url-join.ts
Due: prettier --write, eslint

♻️ Site: misc refactors & minor improvements
  apps/site/app/(frontend)/(auth)/signin/page.tsx
  apps/site/app/_components/organisms/FilePreviewer.tsx
  apps/site/app/_components/wrappers/CookiesInitialize.tsx
  apps/site/app/_components/wrappers/RedirectSignin.tsx
  apps/site/app/_hooks/context/useLocale.ts
  apps/site/app/_hooks/context/useTheme.ts
  apps/site/config.ts
  apps/site/database/prisma/db.ts
  apps/site/environment.d.ts
  apps/site/server/trpc/router.ts
  apps/site/utils/cookies.ts
  libs/shared/consts/src/api/shared.ts
  libs/shared/types/src/global/cookie-options.type.ts
  libs/shared/utils/src/files/to-data-uri.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/requests/get-set-cookie-string.ts
Due: prettier --write, eslint

🐛 ✨ Auth: oidc routes
  apps/site/.env.development
  apps/site/app/api/auth/[tenantOidcName]/callback/route.ts
  apps/site/app/api/auth/oidc/[tenantOidcName]/route.ts
  apps/site/config/secrets.ts
  apps/site/server/trpc/auth/jwt.ts
  apps/site/server/utils/crypto.ts
  apps/site/utils/error-url.ts
  libs/shared/consts/src/global/strings/cookie-names.ts
  libs/shared/enums/src/bll/oauth-error.enum.ts
  libs/shared/enums/src/index.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/strings/from-base64.ts
  libs/shared/utils/src/strings/to-base64.ts
Due: prettier --write, eslint

♻️ ✨ Docker: make hasura docker entrypoint production-friendly
  apps/site/docker/hasura/entrypoint.sh
Due: none

🔥 Shared: remove unused files & minor refactors
  .storybook/main.ts
  apps/site/database/prisma/seeding/seed-categories.ts
  apps/site/database/prisma/seeding/seed-teams.ts
  apps/site/database/prisma/services/upload.ts
  libs/shared/consts/src/api/api.ts
  libs/shared/consts/src/index.ts
  libs/shared/types/src/api/bll/multer-file.interface.ts
  libs/shared/types/src/api/bll/pagination/cursor-columns.interface.ts
  libs/shared/types/src/api/bll/pagination/full-page-info.interface.ts
  libs/shared/types/src/global/cookie.interface.ts
  libs/shared/types/src/global/file-metadata.interface.ts
  libs/shared/types/src/global/file-mime-check-payload.interface.ts
  libs/shared/types/src/index.ts
  libs/shared/utils/src/files/check-mime.ts
  libs/shared/utils/src/files/parse-file-mime-category.ts
  libs/shared/utils/src/parsers/parse-set-cookie-header.ts
Due: prettier --write, eslint

♻️ ➖ ⬆️ Deps: remove unused, update dependencies
  libs/shared/graphql/src/codegen.yaml
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write

✏️ Package: fix path of refresh-graphql.sh
  package.json
Due: prettier --write

✏️ Atoms: fix FileIcon mime file metadata type
  apps/site/app/_components/atoms/Icon/FileIcon.tsx
Due: prettier --write, eslint

🐛 🔥 ✨ Package: add s3 init & clean-up config
  apps/site/.env.development
  apps/site/config.ts
  docker-compose.dev.yml
  package.json
  tools/scripts/prisma/init-features.sh
  tools/scripts/s3/init.mjs
  tools/scripts/s3/wait-init.sh
Due: prettier --write, eslint

♻️ .vscode: add more recommended extensions
  .vscode/extensions.json
Due: prettier --write

🔊 Package: minor log updates
  .github/workflows/hasura-build.yml
  package.json
  tools/scripts/s3/init.mjs
  tools/scripts/s3/wait-init.sh
Due: prettier --write

🔥 Config: remove some unnecessary envs
  apps/site/.env.development
  apps/site/config/secrets.ts
  apps/site/database/prisma/seed.ts
Due: prettier --write, eslint

✏️ Package: fix typo
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.{css,scss}) or (any of: **/*.{js,jsx,ts,tsx})) or (any of: **/*.{html,json,md,yml})
  stylelint --fix: any of: **/*.{css,scss}
  eslint: any of: **/*.{js,jsx,ts,tsx}
