Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

.lintstagedrc:

{
  "**/*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "**/*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "**/*.{html,json,md,yml}": ["prettier --write"]
}

🚑 Site: fix TextInput spinner icon
  apps/site/components/molecules/Input/TextInput.tsx
Due: prettier --write, eslint

✨ Site: add @next/bundle-analyzer
  apps/site/.env.example
  apps/site/next.config.js
  apps/site/project.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

👷 🐛 Workflows: fix deploy prod worflow
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

✨ API: refactor project entity
  apps/api/database/hasura/schema.gql
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230802004923.ts
  libs/api/dal/src/resources/project/project.entity.ts
  libs/shared/enums/src/dal/project/project-type.enum.ts
  libs/shared/enums/src/index.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

🐛 Worklows: fix deploy prod workflow
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

👷 Workflows: display chartVersion in deploy prod
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

♻️ Site: replace fast-iban by validator isIBAN
  apps/site/components/atoms/Preview/BankInfoPreview.tsx
  apps/site/components/forms/BankInfoForm.tsx
  apps/site/components/molecules/Card/AccountCard.tsx
  apps/site/utils/form-validation/iban.ts
  libs/shared/utils/src/strings/format-iban.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

➕ Deps: add use-immer
  package.json
  pnpm-lock.yaml
Due: prettier --write

✨ Utils: refactor debounce & add immutability utils
  libs/shared/utils/src/arrays/immutability/move-immutable.ts
  libs/shared/utils/src/arrays/immutability/set-at-index-immutable.ts
  libs/shared/utils/src/arrays/set-at-index-map.ts
  libs/shared/utils/src/async/debounce.ts
  libs/shared/utils/src/headers/get-tenant-from-host.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/strings/nth-index-of.ts
Due: prettier --write, eslint

♻️ Hasura: misc table & field names refactor
  apps/api/database/hasura/metadata/databases/default/tables/public_actor.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_bank.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_document.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_organize.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_organize_supervisors.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_expense.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_file_upload.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_finance_attachments.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_form_submission.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_form_submission_attachments.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_form_submission_linked_files.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_grant_allocate_attachments.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_grant_attachments.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_individual.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_legal_unit_location.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_team_member.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_tenant.yaml
  apps/api/database/hasura/metadata/databases/default/tables/tables.yaml
  apps/api/database/hasura/schema.gql
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230808151036.ts
  apps/api/database/migrations/Migration20230811005150.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

🐛 ♻️ Site: misc fixes and refactors
  apps/site/components/wrappers/NovuInitialize.tsx
  apps/site/hooks/context/useModal.ts
  apps/site/hooks/useAxios.ts
  apps/site/hooks/useLazyEffect.ts
  apps/site/tailwind.config.js
  apps/site/utils/current-tenant.ts
  apps/site/utils/headers/get-tenant-from-host.ts
Due: prettier --write, eslint

♻️ DAL: refactor entity names along with hasura name change
  libs/api/dal/src/index.ts
  libs/api/dal/src/resources/actor/actor.entity.ts
  libs/api/dal/src/resources/actor/bank-info/bank-info.repository.ts
  libs/api/dal/src/resources/actor/bank/bank.entity.ts
  libs/api/dal/src/resources/actor/bank/bank.options.ts
  libs/api/dal/src/resources/actor/bank/bank.props.ts
  libs/api/dal/src/resources/actor/bank/bank.repository.ts
  libs/api/dal/src/resources/entities.ts
  libs/api/dal/src/resources/event/event-organize/event-organize.entity.ts
  libs/api/dal/src/resources/event/event-supervisor/event-supervisor.entity.ts
  libs/api/dal/src/resources/event/event-supervisor/event-supervisor.options.ts
  libs/api/dal/src/resources/form-submission/form-submission.entity.ts
  libs/api/dal/src/resources/team/account/account.entity.ts
  libs/api/dal/src/resources/team/account/account.options.ts
  libs/api/dal/src/resources/team/expense/expense.entity.ts
  libs/api/dal/src/resources/team/team.entity.ts
  libs/shared/enums/src/dal/entity-name.enum.ts
Due: prettier --write, eslint

✨ Enums: add completed & canceled to Event state
  libs/shared/enums/src/dal/content-master/event-state.enum.ts
Due: prettier --write, eslint

♻️ graphql-upload-minimal -> graphql-upload-ts
  apps/api/src/bootstrap/bootstrap.ts
  apps/api/src/bootstrap/upload.validation.ts
  apps/api/src/configs/graphql.config.ts
  libs/api/bll/src/features/uploads/uploads.resolver.ts
  package.json
Due: prettier --write, eslint

🔥 BLL: remove unused files
  libs/api/bll/src/features/uploads/upload.buckets.ts
  libs/api/bll/src/index.ts
  libs/api/bll/src/types/page-info.type.ts
  libs/api/bll/src/types/paginated.type.ts
  libs/api/bll/src/types/pagination-options.type.ts
Due: prettier --write, eslint

♻️ Seeders: fix & add placeholder in forms
  libs/api/bll/src/shards/seeders/app.seeder.ts
  libs/api/bll/src/shards/seeders/factories/event.seeder.ts
Due: prettier --write, eslint

♻️ Site: major refactor of inputs
  apps/site/components/molecules/ImageEditor/InsertSingleUpload.graphql
  apps/site/components/molecules/Input/Date/CalendarInput.tsx
  apps/site/components/molecules/Input/Date/DateInput.tsx
  apps/site/components/molecules/Input/File/DocumentInput.tsx
  apps/site/components/molecules/Input/File/FileInput.tsx
  apps/site/components/molecules/Input/LegalUnit/GetLegalUnitLocations.graphql
  apps/site/components/molecules/Input/LegalUnit/GetLegalUnits.graphql
  apps/site/components/molecules/Input/LegalUnit/InsertLegalUnit.graphql
  apps/site/components/molecules/Input/LegalUnit/InsertLegalUnitLocation.graphql
  apps/site/components/molecules/Input/LegalUnit/LegalUnitInput.tsx
  apps/site/components/molecules/Input/LegalUnit/LegalUnitLocationInput.tsx
  apps/site/components/molecules/Input/Search/AddressSearchInput.tsx
  apps/site/components/molecules/Input/Search/AutoCompleteInput.tsx
  apps/site/components/molecules/Input/Search/SearchLocation.graphql
  apps/site/components/molecules/Input/Select/MultiSelectInput.tsx
  apps/site/components/molecules/Input/Select/SelectInput.tsx
  apps/site/components/molecules/Input/Selector/RadioFreeInput.tsx
  apps/site/components/molecules/Input/Selector/SelectorInput.tsx
  apps/site/components/molecules/Input/SwitchInput.tsx
  apps/site/components/molecules/Input/TextInput.tsx
  libs/shared/types/src/global/form-field.interface.ts
  libs/shared/types/src/ui/input.interface.ts
Due: prettier --write, eslint

✨ Site: add manual typings for resources
  apps/site/types/features/account.info.ts
  apps/site/types/features/actor-image.info.ts
  apps/site/types/features/actor.info.ts
  apps/site/types/features/address.info.ts
  apps/site/types/features/bank.info.ts
  apps/site/types/features/content.info.ts
  apps/site/types/features/document.info.ts
  apps/site/types/features/event-approval-step.info.ts
  apps/site/types/features/event-organizes.info.ts
  apps/site/types/features/event.info.ts
  apps/site/types/features/finance.info.ts
  apps/site/types/features/form.info.ts
  apps/site/types/features/individual.info.ts
  apps/site/types/features/legal-unit-location.info.ts
  apps/site/types/features/legal-unit.info.ts
  apps/site/types/features/location.info.ts
  apps/site/types/features/log.info.ts
  apps/site/types/features/project.info.ts
  apps/site/types/features/role.info.ts
  apps/site/types/features/social.info.ts
  apps/site/types/features/team-member.info.ts
  apps/site/types/features/team.info.ts
  apps/site/types/features/tenant.info.ts
  apps/site/types/features/user.info.ts
Due: prettier --write, eslint

♻️ Tools: update scripts with changes
  tools/scripts/init-features.sh
  tools/scripts/refresh-db.sh
Due: none

➖ Deps: remove vitest
  apps/api/tsconfig.json
  package.json
Due: prettier --write

⬆️ Deps: upgrade dependencies & remove unused
  package.json
  pnpm-lock.yaml
Due: prettier --write

🚨 Site: apply prettier lint write
  apps/site/components/atoms/Badge/TagBadge.tsx
  apps/site/components/atoms/Icon/CloseButtonIcon.tsx
  apps/site/components/atoms/Icon/RadioCircleIcon.tsx
  apps/site/components/atoms/Inline/IMoney.tsx
  apps/site/components/atoms/Item/LinkItem.tsx
  apps/site/components/atoms/Layout/ModalLayout.tsx
  apps/site/components/atoms/Layout/MultiStepPageLayout.tsx
  apps/site/components/atoms/Popup/Popover/PopoverTrigger.tsx
  apps/site/components/molecules/Accordeon/LinkListAccordeon.tsx
  apps/site/components/molecules/Button/SubmitButton.tsx
  apps/site/components/molecules/Input/MultiCheckboxInput.tsx
  apps/site/components/molecules/Input/SimpleFilterInput.tsx
  apps/site/components/molecules/Input/TextAreaInput.tsx
  apps/site/components/molecules/List/TabList.tsx
  apps/site/config/i18n.ts
  apps/site/hooks/context/useLocale.ts
  apps/site/hooks/useOutsideClick.ts
  apps/site/hooks/useStateWithRef.ts
  apps/site/ssr/getLang.ts
  apps/site/ssr/getTranslation.ts
  apps/site/styles/components/input.scss
  apps/site/utils/default-form-data.ts
  apps/site/utils/form-validation/email.ts
  apps/site/utils/i18n/translate.ts
Due: prettier --write, stylelint --fix, eslint

🐛 Workflows: fix backend deploy prod workflow
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

✨ API: add expect president email in team
  libs/api/bll/src/global/auth/auth.service.ts
  libs/api/bll/src/global/auth/schema.auth.gql
  libs/api/dal/src/resources/team/team.entity.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

✏️ Workflows: fix backend deploy prod workflow
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

✨ API: add expectingTreasurerEmail & expectingSecretaryEmail
  apps/api/database/hasura/schema.gql
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230816152213.ts
  libs/api/dal/src/resources/team/team.entity.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

🐛 Hasura: rename team parent field to parent, add parent in GQL queries
  apps/api/database/hasura/metadata/databases/default/tables/public_team.yaml
  apps/api/database/hasura/schema.gql
  apps/site/app/(frontend)/(app)/GetMe.graphql
  apps/site/app/(frontend)/(app)/manage/team/[slug]/GetTeamManage.graphql
  apps/site/app/(frontend)/(app)/team/[slug]/GetTeam.graphql
  apps/site/app/(frontend)/(app)/teams/GetTeams.graphql
  libs/shared/graphql/src/schema.merged.graphql
Due: none

🐛 ♻️ API: change technique to resolve root path, move seeders to apps/api
  apps/api/src/app.module.ts
  apps/api/src/config.ts
  apps/api/src/seeders/.gitignore
  apps/api/src/seeders/app.seeder.ts
  apps/api/src/seeders/custom/categories.example.yaml
  apps/api/src/seeders/custom/teams.example.yaml
  apps/api/src/seeders/factories/approval-step.seeder.ts
  apps/api/src/seeders/factories/event.seeder.ts
  apps/api/src/seeders/factories/legal-unit-location.seeder.ts
  apps/api/src/seeders/factories/legal-unit.seeder.ts
  apps/api/src/seeders/factories/submission.seeder.ts
  apps/api/src/seeders/factories/tag.seeder.ts
  apps/api/src/seeders/factories/team.seeder.ts
  apps/api/src/seeders/factories/tenant.seeder.ts
  apps/api/src/seeders/factories/user.seeder.ts
  libs/api/bll/src/index.ts
Due: prettier --write, eslint

🔥 API: remove custom vite imports
  apps/api/src/seeders/app.seeder.ts
  libs/api/bll/src/vite-imports.d.ts
Due: prettier --write, eslint

✏️ BLL: remove last occurence of vite-imports
  libs/api/bll/tsconfig.json
Due: prettier --write

🐛 Site: fix locales JSONs
  apps/site/locales/en-US/bank.json
  apps/site/locales/en-US/entities.json
  apps/site/locales/fr-FR/bank.json
  apps/site/locales/fr-FR/entities.json
Due: prettier --write

🐛 API: fix onboardingTeams resolve in auth
  libs/api/bll/src/global/auth/auth.resolver.ts
  libs/api/bll/src/global/auth/auth.service.ts
  libs/api/bll/src/global/auth/schema.auth.gql
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint
