Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

.lintstagedrc:

{
  "**/*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "**/*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "**/*.{html,json,md,yml}": ["prettier --write"]
}

✨ Site: add PaginationSwiper generic component
  libs/ui/organisms/src/Pagination/PaginationSwiper.tsx
Due: prettier --write, eslint

🐛 Site: fix Popover arrow, add props & refactor styles
  libs/ui/atoms/src/Popup/Popover.tsx
Due: prettier --write, eslint

🐛 Site: fix Dashboard scrolling & header decoration
  libs/ui/organisms/src/dashboard/Dashboard.tsx
Due: prettier --write, eslint

💄 Styles: minor styles refactor
  libs/ui/styles/src/components/button.scss
  libs/ui/styles/src/components/container.scss
Due: prettier --write, stylelint --fix

✨ Site: user story: TeamCategoryList, TeamList & TeamProfile
  apps/site/src/app/misc/InstagramCard.tsx
  apps/site/src/app/misc/YouTubeCard.tsx
  apps/site/src/app/router.tsx
  apps/site/src/app/views/TeamCategoryList.tsx
  apps/site/src/app/views/TeamList.tsx
  apps/site/src/app/views/TeamProfile.tsx
  libs/assets/src/svg/brands/instagram.svg
  libs/assets/src/svg/brands/youtube.svg
  libs/assets/src/svg/icons/arrow-right-alt.svg
  libs/assets/src/svg/icons/play.svg
  libs/ui/atoms/src/Card/FactCard.tsx
  libs/ui/atoms/src/Circle/Avatar.tsx
  libs/ui/atoms/src/Image/ImageGradient.tsx
  libs/ui/atoms/src/Image/ImageHorizontal.tsx
  libs/ui/atoms/src/Label/Tag.tsx
  libs/ui/atoms/src/index.ts
  libs/ui/molecules/src/Card/CategoryCard.tsx
  libs/ui/molecules/src/Card/TeamCard.tsx
  libs/ui/molecules/src/Group/AvatarGroup.tsx
  libs/ui/molecules/src/Group/ImageGroup.tsx
  libs/ui/molecules/src/Group/ItemGroup.tsx
  libs/ui/molecules/src/Group/TagGroup.tsx
  libs/ui/molecules/src/Group/VerticalList.tsx
  libs/ui/molecules/src/Labeled/LabeledMember.tsx
  libs/ui/molecules/src/Labeled/LabeledUser.tsx
  libs/ui/molecules/src/index.ts
  libs/ui/organisms/src/index.ts
Due: prettier --write, eslint

🐛 Site: remove TeamCardV1/V2 in index
  libs/ui/molecules/src/index.ts
Due: prettier --write, eslint

🐛 Hooks: fix useCurrentContext actorImage fields
  libs/ui/hooks/src/custom/useCurrentContext.ts
Due: prettier --write, eslint

♻️ Misc: minor refactors, fixes and typo corrects
  .vscode/extensions.json
  apps/api/.env.example
  apps/site/src/app/components/Layout/Topbar.tsx
  apps/site/src/app/misc/InstagramCard.tsx
  apps/site/src/app/misc/YouTubeCard.tsx
  apps/site/src/app/views/TeamProfile.tsx
  libs/api/bll/src/domains/factories/domains/documents/document-upload.model.ts
  libs/api/bll/src/domains/factories/domains/documents/document.model.ts
  libs/api/bll/src/domains/factories/domains/images/image-upload.model.ts
  libs/api/dal/src/resources/label/tag/tag.entity.ts
  libs/api/dal/src/resources/org/org.entity.ts
  libs/api/dal/src/resources/ugc/ugc.entity.ts
  libs/api/dal/src/shards/abstract/base/base.repository.ts
  libs/shared/graphql/src/schema/schema.gql
  libs/ui/molecules/src/Card/TeamCard.tsx
  libs/ui/molecules/src/Group/TagGroup.tsx
Due: prettier --write, eslint

🐛 BLL: fix upload in localhost
  libs/api/bll/src/features/upload/upload.service.ts
Due: prettier --write, eslint

♻️ API: harmonize class constructor arguments
  libs/api/bll/src/features/uaa/authentification/auth.controller.ts
  libs/api/bll/src/features/uaa/authentification/auth.resolver.ts
  libs/api/bll/src/features/uaa/authentification/auth.service.ts
  libs/api/bll/src/features/uaa/authentification/tenant.strategy.ts
  libs/api/dal/src/shards/seeders/factories/approval-step.seeder.ts
  libs/api/dal/src/shards/seeders/factories/event.seeder.ts
  libs/api/dal/src/shards/seeders/factories/finance.seeder.ts
  libs/api/dal/src/shards/seeders/factories/team.seeder.ts
  libs/api/dal/src/shards/seeders/factories/user.seeder.ts
Due: prettier --write, eslint

♻️ Simplify project.json executors, remove @nrwl/vite
  apps/api/project.json
  apps/api/vite.config.ts
  apps/mobile/e2e/project.json
  apps/mobile/project.json
  apps/site/project.json
  apps/site/vite.config.ts
  libs/api/bll/project.json
  libs/api/dal/project.json
  libs/api/shards/project.json
  libs/shared/consts/project.json
  libs/shared/dtos/project.json
  libs/shared/enums/project.json
  libs/shared/graphql/project.json
  libs/shared/types/project.json
  libs/shared/utils/project.json
  libs/site/shards/project.json
  libs/ui/atoms/project.json
  libs/ui/hooks/project.json
  libs/ui/molecules/project.json
  libs/ui/organisms/project.json
  libs/ui/styles/project.json
  libs/ui/templates/project.json
Due: prettier --write, eslint

🔥 Remove useless code/files
  .prettierignore
  apps/.gitkeep
  apps/site/index.html
  apps/site/src/app/components/Layout/Sidebar/Sidebar.tsx
  apps/site/src/app/views/TenantApp.tsx
  libs/.gitkeep
Due: prettier --write, eslint

♻️ Replace set-cookie-parser by custom code
  apps/mobile/src/app/providers/apollo.ts
  libs/shared/utils/src/cookies/set-cookie-header-parser.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/strings/non-empty.ts
Due: prettier --write, eslint

🚚 Types: rename interfaces & props
  libs/shared/types/src/index.ts
  libs/shared/types/src/interfaces/cookie.interface.ts
  libs/shared/types/src/interfaces/global/file-like.interface.ts
  libs/shared/types/src/interfaces/global/file-mime-check-payload.interface.ts
  libs/shared/types/src/interfaces/ui/modal.props.ts
  libs/shared/types/src/interfaces/ui/selected-menu.interface.ts
  libs/shared/types/src/interfaces/ui/toast.props.ts
Due: prettier --write, eslint

♻️ Utils: Replace iso8601-duration by custom code
  libs/shared/types/src/index.ts
  libs/shared/types/src/interfaces/global/duration.interface.ts
  libs/shared/utils/src/dates/date-utils.ts
  libs/shared/utils/src/dates/duration-utils.ts
  libs/shared/utils/src/index.ts
Due: prettier --write, eslint

⬆️ Upgrade, refactor & remove unused deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

♻️ Replace statuses with custom code
  apps/api/src/bootstrap/morgan/morgan.register.ts
  libs/shared/consts/src/global/ansi-codes.ts
  libs/shared/consts/src/global/statuses.ts
  libs/shared/consts/src/index.ts
  package.json
Due: prettier --write, eslint

➖ Remove unused nx dependencies
  libs/assets/project.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

♻️ API: minor bootstrap refactor
  apps/api/src/bootstrap/bootstrap.ts
Due: prettier --write, eslint

➖ Remove nest-fastify-file-upload dependency
  libs/api/bll/src/shards/decorators/upload-interceptor.decorator.ts
  libs/shared/types/src/interfaces/api/bll/multer-file.interface.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🐛 BLL: remove reference of deleted file in index
  libs/api/bll/src/index.ts
Due: prettier --write, eslint

🐛 Use cross-env for running commands
  apps/api/migrate.sh
  apps/api/project.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

🐛 Cross-env friendly migration:up
  apps/api/Dockerfile
  apps/api/migrate.sh
  apps/api/project.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

✨ UI: add custom Banner component & refactor site/shards as ui/utils
  apps/site/src/app/components/Layout/Topbar.tsx
  apps/site/src/app/views/TeamDashboard.tsx
  apps/site/src/app/views/TeamProfile.tsx
  apps/site/vite.config.ts
  libs/site/shards/README.md
  libs/site/shards/jest.config.ts
  libs/site/shards/package.json
  libs/site/shards/project.json
  libs/site/shards/tsconfig.json
  libs/ui/atoms/src/Image/Avatar.tsx
  libs/ui/atoms/src/Image/Banner.tsx
  libs/ui/atoms/src/index.ts
  libs/ui/molecules/src/Card/TeamCard.tsx
  libs/ui/utils/.eslintrc.json
  libs/ui/utils/.lib.swcrc
  libs/ui/utils/README.md
  libs/ui/utils/package.json
  libs/ui/utils/project.json
  libs/ui/utils/src/actor-image/get-actor-image.ts
  libs/ui/utils/src/index.ts
  libs/ui/utils/src/link/deactivate-link.ts
  libs/ui/utils/tsconfig.json
  libs/ui/utils/tsconfig.lib.json
  libs/ui/utils/tsconfig.spec.json
  libs/ui/utils/vite.config.ts
  package.json
  pnpm-lock.yaml
  tools/scripts/publish.mjs
  tsconfig.base.json
Due: prettier --write, eslint

♻️ Update license & readme, add contributing
  CONTRIBUTING.md
  LICENSE.md
  README.md
Due: prettier --write

🐛 Don't use MikroORM QueryOrder in utils
  apps/api/src/bootstrap/graphql/enums.register.ts
  libs/api/bll/src/domains/factories/base.factory.ts
  libs/api/bll/src/shards/utils/cursor-serializer.ts
  libs/shared/enums/src/bll/query-order.enum.ts
  libs/shared/enums/src/index.ts
  libs/shared/types/src/interfaces/api/bll/pagination/cursor-columns.interface.ts
  libs/shared/types/src/scalars/query-order-map.scalar.ts
Due: prettier --write, eslint

⬆️ Upgrade dependencies
  apps/api/Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

🐛 BLL: fix base model assign
  libs/api/bll/src/domains/factories/abstract/base.model.ts
Due: prettier --write, eslint

🐛 BLL: Fix findWithPagination populate
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/shards/src/mikroorm/apply-model-factory.ts
  libs/api/shards/src/mikroorm/process-populate-paginated.ts
  libs/shared/graphql/src/schema/schema.gql
Due: prettier --write, eslint

✨ Site: add history navigation to Topbar
  apps/site/src/app/App.scss
  apps/site/src/app/App.tsx
  apps/site/src/app/components/Layout/Sidebar/Sidebar.tsx
  apps/site/src/app/components/Layout/Sidebar/SidebarMenu.tsx
  apps/site/src/app/components/Layout/Topbar.tsx
  apps/site/src/app/views/TenantApp.tsx
  apps/site/src/app/views/Welcome/WelcomePage.tsx
  libs/shared/types/src/index.ts
  libs/shared/types/src/interfaces/ui/route.props.ts
  libs/ui/hooks/src/contexts/NavigationContext.ts
  libs/ui/styles/src/global/colors.scss
Due: prettier --write, stylelint --fix, eslint

🐛 Site: trim username input result
  apps/site/src/app/views/Welcome/WelcomePage.tsx
Due: prettier --write, eslint

🍱 Add more icons
  libs/assets/src/svg/icons/filled/edit.svg
  libs/assets/src/svg/icons/filled/event-validate.svg
  libs/assets/src/svg/icons/filled/flip-horizontal.svg
  libs/assets/src/svg/icons/filled/flip-vertical.svg
  libs/assets/src/svg/icons/filled/form.svg
  libs/assets/src/svg/icons/filled/go.svg
  libs/assets/src/svg/icons/filled/overview.svg
  libs/assets/src/svg/icons/filled/rotate-left.svg
  libs/assets/src/svg/icons/filled/rotate-right.svg
  libs/assets/src/svg/icons/filled/share.svg
  libs/assets/src/svg/icons/filled/square.svg
  libs/assets/src/svg/icons/filled/workspace.svg
  libs/assets/src/svg/icons/outlined/edit.svg
  libs/assets/src/svg/icons/outlined/event-validate.svg
  libs/assets/src/svg/icons/outlined/flip-horizontal.svg
  libs/assets/src/svg/icons/outlined/flip-vertical.svg
  libs/assets/src/svg/icons/outlined/form.svg
  libs/assets/src/svg/icons/outlined/go.svg
  libs/assets/src/svg/icons/outlined/overview.svg
  libs/assets/src/svg/icons/outlined/rotate-left.svg
  libs/assets/src/svg/icons/outlined/rotate-right.svg
  libs/assets/src/svg/icons/outlined/share.svg
  libs/assets/src/svg/icons/outlined/square.svg
  libs/assets/src/svg/icons/outlined/workspace.svg
Due: none

✨ Add WithActive filter
  libs/api/dal/src/resources/interaction/favorite/favorite.entity.ts
  libs/api/dal/src/resources/interaction/reaction/reaction.entity.ts
  libs/api/dal/src/resources/interaction/validation/validation.entity.ts
  libs/api/dal/src/resources/interaction/vote/vote.entity.ts
  libs/api/dal/src/resources/manage-actor/actor-image/actor-image.entity.ts
  libs/api/dal/src/resources/manage-actor/actor-image/actor-image.options.ts
  libs/api/dal/src/shards/filters/with-active.ts
  libs/shared/enums/src/dal/interaction/reaction-type.enum.ts
Due: prettier --write, eslint

✨ Add base swiper support (WebComponents)
  .stylelintrc.js
  apps/site/src/app/App.scss
  apps/site/src/main.tsx
  apps/site/tsconfig.app.json
  apps/site/web-components.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint --fix, eslint

💄 ♻️ Refactor Tag & CategorySelector
  libs/ui/atoms/src/Label/Tag.tsx
  libs/ui/molecules/src/Input/CategorySelector.tsx
Due: prettier --write, eslint

✨ BLL: improve CASL permissions
  libs/api/bll/src/features/uaa/authorization/casl/get-abilities.ts
Due: prettier --write, eslint

♻️ DAL: optional author in UGC (null is system)
  libs/api/dal/src/resources/content-master/content-master.entity.ts
  libs/api/dal/src/resources/ugc/content/content.entity.ts
  libs/api/dal/src/resources/ugc/document/document.entity.ts
  libs/api/dal/src/resources/ugc/form-edit/form-edit.entity.ts
  libs/api/dal/src/resources/ugc/form-submission/form-submission.entity.ts
  libs/api/dal/src/resources/ugc/form/form.entity.ts
  libs/api/dal/src/resources/ugc/ugc.entity.ts
  libs/api/dal/src/resources/ugc/ugc.options.ts
  libs/shared/dtos/src/resources/ugc/ugc.interface.ts
Due: prettier --write, eslint

✨ Add global date converter util
  libs/shared/utils/src/dates/date-formattters.ts
Due: prettier --write, eslint
