Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

♻️ API: remove UserProfile entity
  libs/api/bll/src/domains/factories/domains/users/user.factory.ts
  libs/api/bll/src/domains/factories/domains/users/user.model.ts
  libs/api/dal/src/index.ts
  libs/api/dal/src/resources/actor/user-profile/user-profile.entity.ts
  libs/api/dal/src/resources/actor/user-profile/user-profile.options.ts
  libs/api/dal/src/resources/actor/user/user.entity.ts
  libs/api/dal/src/resources/entities.ts
  libs/shared/dtos/src/resources/actor/user/user.interface.ts
Due: prettier --write, eslint

♻️ API: miscellaneous refactoring
  libs/api/bll/src/domains/factories/abstract/content-master.model.ts
  libs/api/bll/src/domains/factories/abstract/membership.model.ts
  libs/api/bll/src/domains/factories/abstract/org.model.ts
  libs/api/bll/src/domains/factories/abstract/ugc.model.ts
  libs/api/bll/src/domains/factories/domains/bots/bot.model.ts
  libs/api/bll/src/domains/factories/domains/documents/document.model.ts
  libs/api/bll/src/domains/factories/domains/events/event-approval-step.factory.ts
  libs/api/bll/src/domains/factories/domains/events/event-approval-step.model.ts
  libs/api/bll/src/domains/factories/domains/events/event-approval.factory.ts
  libs/api/bll/src/domains/factories/domains/forms/form-submission.model.ts
  libs/api/bll/src/domains/factories/domains/forms/form.model.ts
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/bll/src/domains/factories/domains/users/user.factory.ts
  libs/api/bll/src/domains/resources/teams/team.filter-query.ts
  libs/api/bll/src/domains/resources/users/users.module.ts
  libs/api/bll/src/features/uaa/authorization/casl/get-abilities.ts
  libs/api/dal/src/resources/edit/form-submission-edit/form-submission-edit.entity.ts
  libs/api/dal/src/resources/file-upload/document-upload/document-upload.entity.ts
  libs/api/dal/src/resources/file-upload/video-upload/video-upload.entity.ts
  libs/api/dal/src/resources/interaction/favorite/favorite.entity.ts
  libs/api/dal/src/resources/interaction/interaction.entity.ts
  libs/api/dal/src/resources/interaction/reaction/reaction.entity.ts
  libs/api/dal/src/resources/interaction/validation/validation.entity.ts
  libs/api/dal/src/resources/interaction/vote/vote.entity.ts
  libs/api/dal/src/resources/manage-tenant/event-approval-step/event-approval-step.entity.ts
  libs/api/dal/src/resources/manage-tenant/event-approval-step/event-approval-step.options.ts
  libs/api/dal/src/resources/manage-tenant/event-approval/event-approval.entity.ts
  libs/api/dal/src/resources/manage-tenant/event-approval/event-approval.options.ts
  libs/api/dal/src/resources/org/tenant/tenant.entity.ts
  libs/api/dal/src/shards/seeders/app.seeder.ts
  libs/api/dal/src/shards/seeders/factories/approval-step.seeder.ts
  libs/shared/dtos/src/index.ts
  libs/shared/dtos/src/resources/manage-tenant/event-approval-step/event-approval-step.interface.ts
  libs/shared/dtos/src/resources/manage-tenant/event-approval-step/event-approval-step.props.ts
  libs/shared/dtos/src/resources/manage-tenant/event-approval/event-approval.interface.ts
  libs/shared/dtos/src/resources/org/org.interface.ts
Due: prettier --write, eslint

🔨 Database: regenerate migrations
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230316212555.ts
  apps/api/database/migrations/Migration20230321181336.ts
Due: prettier --write, eslint

🐛 BLL: fix EditModel types
  libs/api/bll/src/domains/factories/abstract/edit.model.ts
  libs/api/bll/src/domains/factories/domains/contents/content-edit.model.ts
  libs/api/bll/src/domains/factories/domains/documents/document-edit.model.ts
  libs/api/bll/src/domains/factories/domains/forms/form-edit.model.ts
  libs/api/bll/src/domains/factories/domains/forms/form-subimission-edit.model.ts
Due: prettier --write, eslint

🔨 Graphql: codegen & update fragments
  apps/site/src/app/views/GuideView.tsx
  apps/site/src/app/views/TeamDashboard.tsx
  apps/site/src/app/views/TeamManage/DocumentManageView.tsx
  libs/shared/graphql/src/fragments/documentFragment.ts
  libs/shared/graphql/src/fragments/eventFragment.ts
  libs/shared/graphql/src/fragments/formFragment.ts
  libs/shared/graphql/src/fragments/teamJoinFragment.ts
  libs/shared/graphql/src/schema/__generated__/gql.ts
  libs/shared/graphql/src/schema/__generated__/graphql.ts
  libs/shared/graphql/src/schema/schema.gql
Due: prettier --write, eslint

🐛 API: remove lastEdit from ugc
  libs/api/bll/src/domains/factories/abstract/ugc.model.ts
  libs/api/dal/src/resources/ugc/ugc.entity.ts
  libs/shared/dtos/src/resources/ugc/ugc.interface.ts
  libs/shared/graphql/src/schema/__generated__/graphql.ts
  libs/shared/graphql/src/schema/schema.gql
Due: prettier --write, eslint

♻️ ✨ BLL: make loader async
  libs/api/bll/src/domains/factories/base.factory.ts
  libs/api/bll/src/domains/factories/domains/documents/org-document.factory.ts
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/shards/src/mikroorm/load-collection.ts
Due: prettier --write, eslint

✨ API: add event & project roles, make role abstract
  libs/api/bll/src/domains/factories/abstract/role.model.ts
  libs/api/bll/src/domains/factories/domains/roles/event-role.model.ts
  libs/api/bll/src/domains/factories/domains/roles/project-role.model.ts
  libs/api/bll/src/domains/factories/index.ts
  libs/api/dal/src/index.ts
  libs/api/dal/src/resources/role/event-role/event-role.entity.ts
  libs/api/dal/src/resources/role/event-role/event-role.options.ts
  libs/api/dal/src/resources/role/project-role/project-role.entity.ts
  libs/api/dal/src/resources/role/project-role/project-role.options.ts
  libs/api/dal/src/resources/role/role.entity.ts
  libs/api/dal/src/resources/role/role.options.ts
  libs/api/dal/src/resources/role/team-role/team-role.options.ts
  libs/shared/dtos/src/index.ts
  libs/shared/dtos/src/resources/role/event-role/event-role.interface.ts
  libs/shared/dtos/src/resources/role/event-role/event-role.props.ts
  libs/shared/dtos/src/resources/role/project-role/project-role.interface.ts
  libs/shared/dtos/src/resources/role/project-role/project-role.props.ts
  libs/shared/enums/src/dal/kind/role-kind.enum.ts
Due: prettier --write, eslint

✨ API: add project & event roles to projects & events; refactor
  libs/api/bll/src/domains/factories/domains/events/event-join.model.ts
  libs/api/bll/src/domains/factories/domains/events/event.factory.ts
  libs/api/bll/src/domains/factories/domains/events/event.model.ts
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/bll/src/domains/factories/domains/teams/project.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/project.model.ts
  libs/api/dal/src/resources/content-master/event/event.entity.ts
  libs/api/dal/src/resources/content-master/event/event.options.ts
  libs/api/dal/src/resources/entities.ts
  libs/api/dal/src/resources/join/event-join/event-join.entity.ts
  libs/api/dal/src/resources/join/event-join/event-join.options.ts
  libs/api/dal/src/resources/manage-team/project/project.entity.ts
  libs/api/dal/src/resources/manage-team/project/project.options.ts
  libs/api/dal/src/shards/seeders/app.seeder.ts
  libs/api/dal/src/shards/seeders/factories/event.seeder.ts
  libs/shared/dtos/src/resources/content-master/event/event.interface.ts
  libs/shared/dtos/src/resources/content-master/event/event.props.ts
  libs/shared/dtos/src/resources/join/event-join/event-join.interface.ts
  libs/shared/dtos/src/resources/manage-team/project/create-project.dto.ts
  libs/shared/dtos/src/resources/manage-team/project/project.interface.ts
  libs/shared/dtos/src/resources/manage-team/project/project.props.ts
Due: prettier --write, eslint

🐛 Auth: fix recognition of individualKind
  libs/api/bll/src/features/uaa/authentification/auth.resolver.ts
Due: prettier --write, eslint

🔨 Graphql: update fragments & regenerate graphql
  apps/site/src/app/components/Forms/CreateEventForm.tsx
  apps/site/src/app/views/Team/TeamJoinForm.tsx
  apps/site/src/app/views/Team/TeamJoinView.tsx
  apps/site/src/app/views/TeamList.tsx
  libs/shared/graphql/src/fragments/documentFragment.ts
  libs/shared/graphql/src/fragments/formFragment.ts
  libs/shared/graphql/src/fragments/projectFragment.ts
  libs/shared/graphql/src/schema/__generated__/gql.ts
  libs/shared/graphql/src/schema/__generated__/graphql.ts
  libs/shared/graphql/src/schema/schema.gql
  libs/ui/molecules/src/Card/EventCard.tsx
  libs/ui/molecules/src/Labeled/LabeledTeamJoin.tsx
Due: prettier --write, eslint

💄 UI: layout updates
  apps/site/src/app/components/Layout/Sidebar.tsx
  apps/site/src/app/styles/layout.scss
  apps/site/tailwind.config.js
Due: prettier --write, stylelint --fix, eslint

🔨 Database: regenerate migrations
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230323125618.ts
Due: prettier --write, eslint

✨ Atoms: add more customization to Avatar
  libs/shared/types/src/index.ts
  libs/shared/types/src/interfaces/ui/css-unit.interface.ts
  libs/ui/atoms/src/Image/Avatar.tsx
Due: prettier --write, eslint

✨ Site: block access to TeamManage if lacking permissions
  apps/site/src/app/views/TeamManage/TeamManageView.tsx
Due: prettier --write, eslint

🐛 Site: update components for fragment changes
  apps/site/src/app/views/TeamManage/DocumentManageView.tsx
  apps/site/src/app/views/TeamManage/TeamJoinManageView.tsx
Due: prettier --write, eslint

🍱 Fonts: replace sans-serif fonts by Metropolis
  libs/assets/src/fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf
  libs/assets/src/fonts/Figtree/Figtree-VariableFont_wght.ttf
  libs/assets/src/fonts/Figtree/OFL.txt
  libs/assets/src/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Black.ttf
  libs/assets/src/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Bold.ttf
  libs/assets/src/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Light.ttf
  libs/assets/src/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf
  libs/assets/src/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf
  libs/assets/src/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Thin.ttf
  libs/assets/src/fonts/HarmonyOS_Sans/LICENSE.txt
  libs/assets/src/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Black_Italic.ttf
  libs/assets/src/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Bold_Italic.ttf
  libs/assets/src/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Light_Italic.ttf
  libs/assets/src/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Medium_Italic.ttf
  libs/assets/src/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Regular_Italic.ttf
  libs/assets/src/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Thin_Italic.ttf
  libs/assets/src/fonts/HarmonyOS_Sans_Italic/LICENSE.txt
  libs/assets/src/fonts/Metropolis/Metropolis-Black.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-BlackItalic.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-Bold.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-BoldItalic.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-ExtraBold.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-ExtraBoldItalic.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-ExtraLight.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-ExtraLightItalic.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-Light.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-LightItalic.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-Medium.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-MediumItalic.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-Regular.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-RegularItalic.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-SemiBold.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-SemiBoldItalic.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-Thin.ttf
  libs/assets/src/fonts/Metropolis/Metropolis-ThinItalic.ttf
  libs/assets/src/fonts/RedHat_Display/OFL.txt
  libs/assets/src/fonts/RedHat_Display/RedHatDisplay-Italic-VariableFont_wght.ttf
  libs/assets/src/fonts/RedHat_Display/RedHatDisplay-VariableFont_wght.ttf
  libs/ui/styles/src/global/fonts.scss
Due: prettier --write, stylelint --fix

💄 UI: Update Popover & SelectMenu
  libs/ui/atoms/src/Popup/Popover.tsx
  libs/ui/molecules/src/Input/SelectMenu.tsx
Due: prettier --write, eslint

♻️ Misc: minor fixes & refactors
  .prettierignore
  .vscode/okampus.code-workspace
  apps/api/Dockerfile
  apps/api/tsconfig.json
  apps/api/vite.config.ts
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  apps/site/tailwind.config.js
  libs/api/README.md
  libs/api/bll/src/vite-imports.d.ts
  libs/api/bll/tsconfig.json
  libs/api/bll/tsconfig.lib.json
  libs/api/shards/tsconfig.json
  libs/api/shards/tsconfig.lib.json
  libs/assets/tsconfig.json
  libs/assets/tsconfig.lib.json
  libs/shared/consts/tsconfig.json
  libs/shared/consts/tsconfig.lib.json
  libs/shared/dtos/tsconfig.json
  libs/shared/dtos/tsconfig.lib.json
  libs/shared/enums/tsconfig.json
  libs/shared/enums/tsconfig.lib.json
  libs/shared/graphql/tsconfig.json
  libs/shared/graphql/tsconfig.lib.json
  libs/shared/types/tsconfig.json
  libs/shared/types/tsconfig.lib.json
  libs/shared/utils/tsconfig.json
  libs/ui/atoms/src/Text/TextFit.tsx
  libs/ui/atoms/tsconfig.lib.json
  libs/ui/hooks/tsconfig.json
  libs/ui/hooks/tsconfig.lib.json
  libs/ui/molecules/tsconfig.lib.json
  libs/ui/organisms/tsconfig.lib.json
  libs/ui/styles/tsconfig.json
  libs/ui/styles/tsconfig.lib.json
  libs/ui/templates/tsconfig.lib.json
  libs/ui/utils/tsconfig.json
  libs/ui/utils/tsconfig.lib.json
  tsconfig.base.json
Due: prettier --write, eslint

💄 Styles: misc styles refactor
  apps/site/src/app/App.scss
  apps/site/src/app/styles/layout.scss
  libs/ui/atoms/src/Skeleton/Skeleton.scss
  libs/ui/styles/src/components/button.scss
  libs/ui/styles/src/components/card.scss
  libs/ui/styles/src/components/text.scss
  libs/ui/styles/src/global/colors.scss
Due: prettier --write, stylelint --fix

🚚 UI: rename folders & minor UI refactors
  libs/ui/molecules/src/Calendar/CalendarHeader.tsx
  libs/ui/molecules/src/Calendar/CalendarView.tsx
  libs/ui/molecules/src/Calendar/ContextWrapper.tsx
  libs/ui/molecules/src/Calendar/CreateEventButton.tsx
  libs/ui/molecules/src/Calendar/EventModal.tsx
  libs/ui/molecules/src/Calendar/FullCalendarView.tsx
  libs/ui/molecules/src/Calendar/GlobalContext.tsx
  libs/ui/molecules/src/Calendar/Labels.tsx
  libs/ui/molecules/src/Calendar/Month.tsx
  libs/ui/molecules/src/Calendar/Sidebar.tsx
  libs/ui/molecules/src/Calendar/SmallCalendar.tsx
  libs/ui/molecules/src/Calendar/WeekCalendar.tsx
  libs/ui/molecules/src/Calendar/types.ts
  libs/ui/molecules/src/Calendar/util.ts
  libs/ui/molecules/src/calendar/Calendar.css
  libs/ui/molecules/src/index.ts
  libs/ui/organisms/src/Dashboard/Dashboard.tsx
  libs/ui/organisms/src/FormRender/FormRender.tsx
  libs/ui/organisms/src/FormRender/FormSubmissionRender.tsx
  libs/ui/organisms/src/dashboard/Dashboard.tsx
  libs/ui/organisms/src/dynamic-form/DynamicForm.tsx
  libs/ui/organisms/src/dynamic-form/DynamicFormSubmission.tsx
  libs/ui/organisms/src/index.ts
  libs/ui/templates/src/index.ts
  libs/ui/templates/src/tabs/TabsView.tsx
Due: prettier --write, stylelint --fix, eslint

✨ Utils: refactor & add new utils
  libs/shared/utils/src/async/sleep.ts
  libs/shared/utils/src/dates/date-formattters.ts
  libs/shared/utils/src/files/download-file.ts
  libs/shared/utils/src/graphql/get-args.ts
  libs/shared/utils/src/graphql/get-selection-set.ts
  libs/shared/utils/src/graphql/get-value-from-ast.ts
  libs/shared/utils/src/graphql/is-non-null-type.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/numbers/sum.ts
  libs/shared/utils/src/strings/to-camelcase.ts
  libs/shared/utils/src/strings/to-kebabcase.ts
  libs/shared/utils/src/strings/to-titlecase.ts
Due: prettier --write, eslint

✨ Consts: refactor & add consts
  libs/shared/consts/src/api/api.ts
  libs/shared/consts/src/global/colors.ts
  libs/shared/consts/src/global/cookies/cookie-names.ts
  libs/shared/consts/src/global/countries.ts
  libs/shared/consts/src/global/slugs.ts
  libs/shared/consts/src/index.ts
  libs/shared/consts/src/site/routes.ts
  libs/shared/consts/src/ui/avatar-rounded.ts
  libs/shared/consts/src/ui/standards.ts
  libs/shared/consts/src/ui/team-role-category-colors.ts
Due: prettier --write, eslint

🔨 GraphQL: update Hasura graphql schema
  apps/api/database/hasura/schema.gql
Due: none

⬆️ Upgrade pnpm in workflow
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
  apps/api/Dockerfile
Due: prettier --write

🔨 Generators: move hasura-feature to libs/generators
  libs/generators/.eslintrc.json
  libs/generators/README.md
  libs/generators/generators.json
  libs/generators/jest.config.ts
  libs/generators/package.json
  libs/generators/project.json
  libs/generators/src/generators/hasura-feature/generator.spec.ts
  libs/generators/src/generators/hasura-feature/generator.ts
  libs/generators/src/generators/hasura-feature/schema.d.ts
  libs/generators/src/generators/hasura-feature/schema.json
  libs/generators/src/generators/hasura-feature/templates/__fileName__.module.ts__template__
  libs/generators/src/generators/hasura-feature/templates/__fileName__.resolver.ts__template__
  libs/generators/src/generators/hasura-feature/templates/__fileName__.service.ts__template__
  libs/generators/src/generators/hasura-feature/templates/__fileName__.types.ts__template__
  libs/generators/tsconfig.json
  libs/generators/tsconfig.lib.json
  libs/generators/tsconfig.spec.json
  tools/generators/hasura-feature/templates/__fileName__.service.ts__template__
  tools/scripts/init-features.sh
  tools/tsconfig.tools.json
  tsconfig.base.json
Due: prettier --write, eslint

💄 Site: minor style updates
  apps/site/src/app/App.scss
  libs/ui/styles/src/components/button.scss
  libs/ui/styles/src/components/input.scss
  libs/ui/styles/src/global/colors.scss
  libs/ui/styles/src/global/fonts.scss
  libs/ui/styles/src/global/layout.scss
  libs/ui/styles/src/global/scrollbar.scss
Due: prettier --write, stylelint --fix

🍱 Refactor icons (remove unused, update & add new)
  apps/mobile/assets/star.svg
  libs/assets/src/svg/brands/instagram.svg
  libs/assets/src/svg/brands/okampus-large.svg
  libs/assets/src/svg/brands/okampus.svg
  libs/assets/src/svg/brands/youtube.svg
  libs/assets/src/svg/icons/bereal.svg
  libs/assets/src/svg/icons/spinner.svg
  libs/assets/src/svg/icons/website.svg
  libs/assets/src/svg/mimetypes/archive/rar.svg
  libs/assets/src/svg/mimetypes/archive/zip.svg
  libs/assets/src/svg/mimetypes/code/go.svg
  libs/assets/src/svg/mimetypes/code/js.svg
  libs/assets/src/svg/mimetypes/generic/generic-code.svg
  libs/assets/src/svg/mimetypes/generic/generic-unknown.svg
  libs/assets/src/svg/mimetypes/image/svg.svg
Due: none

♻️ Hooks: remove useAxios & refactor useIsSmall
  libs/ui/hooks/src/custom/useAxios.ts
  libs/ui/hooks/src/custom/useIsSmall.ts
  libs/ui/hooks/src/index.ts
Due: prettier --write, eslint

♻️ Utils: refactor & add range array util
  libs/shared/utils/src/arrays/non-empty-or-null.ts
  libs/shared/utils/src/arrays/range.ts
  libs/shared/utils/src/files/data-uri-to-blob.ts
  libs/shared/utils/src/files/data-uri-to-file.ts
  libs/shared/utils/src/index.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: **/*.{css,scss}) or (any of: **/*.{js,jsx,ts,tsx})) or (any of: **/*.{html,json,md,yml})
  stylelint --fix: any of: **/*.{css,scss}
  eslint: any of: **/*.{js,jsx,ts,tsx}
