Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

.lintstagedrc:

{
  "**/*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "**/*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "**/*.{html,json,md,yml}": ["prettier --write"]
}

♻️ Avoid '.' as separator
  libs/api/bll/src/shards/utils/cursor-serializer.ts
  libs/api/dal/src/shards/seeders/factories/user.seeder.ts
  libs/shared/utils/src/strings/to-slug.ts
Due: prettier --write, eslint

🔨 API: add DB migrations
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230228230534.ts
  apps/api/database/migrations/Migration20230302124126.ts
Due: prettier --write, eslint

✨ Utils: add object & enum utils
  libs/shared/utils/src/enums/enum-checker.ts
  libs/shared/utils/src/enums/enum-keys.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/objects/is-empty.ts
  libs/shared/utils/src/objects/keep-defined.ts
Due: prettier --write, eslint

⬆️ API: upgrade pnpm to 7.28.0 in Dockerfile
  apps/api/Dockerfile
Due: none

✨ BLL: fix factory update & add deactivateActorImage
  apps/api/src/app.module.ts
  libs/api/bll/src/domains/resources/actors/actors.module.ts
  libs/api/bll/src/domains/resources/actors/actors.resolver.ts
  libs/api/bll/src/domains/resources/actors/actors.service.ts
  libs/api/bll/src/domains/resources/actors/commands/deactivate-actor-image/deactivate-actor-image.command.ts
  libs/api/bll/src/domains/resources/actors/commands/deactivate-actor-image/deactivate-actor-image.handler.ts
  libs/api/bll/src/domains/resources/bots/commands/update-bot/update-bot.command.ts
  libs/api/bll/src/domains/resources/bots/commands/update-bot/update-bot.handler.ts
  libs/api/bll/src/domains/resources/event-approval-steps/commands/update-event-approval-step/update-event-approval-step.handler.ts
  libs/api/bll/src/domains/resources/event-approvals/commands/update-event-approval/update-event-approval.handler.ts
  libs/api/bll/src/domains/resources/events/commands/update-event/update-event.handler.ts
  libs/api/bll/src/domains/resources/teams/commands/deactivate-team-image/deactivate-team-image.command.ts
  libs/api/bll/src/domains/resources/teams/commands/deactivate-team-image/deactivate-team-image.handler.ts
  libs/api/bll/src/domains/resources/teams/commands/update-team/update-team.command.ts
  libs/api/bll/src/domains/resources/teams/commands/update-team/update-team.handler.ts
  libs/api/bll/src/domains/resources/teams/teams.module.ts
  libs/api/bll/src/domains/resources/teams/teams.resolver.ts
  libs/api/bll/src/domains/resources/teams/teams.service.ts
  libs/api/bll/src/domains/resources/tenants/commands/update-tenant/update-tenant.handler.ts
  libs/api/bll/src/domains/resources/users/commands/update-user/update-user.handler.ts
  libs/api/bll/src/index.ts
Due: prettier --write, eslint

♻️ BLL: refactor updateActor & addImagesToActor
  libs/api/bll/src/domains/factories/abstract.utils.ts
  libs/api/bll/src/domains/factories/base.factory.ts
  libs/api/bll/src/domains/factories/domains/bots/bot.factory.ts
  libs/api/bll/src/domains/factories/domains/contents/content.factory.ts
  libs/api/bll/src/domains/factories/domains/documents/org-document.factory.ts
  libs/api/bll/src/domains/factories/domains/events/event-approval-step.factory.ts
  libs/api/bll/src/domains/factories/domains/events/event-approval.factory.ts
  libs/api/bll/src/domains/factories/domains/events/event.factory.ts
  libs/api/bll/src/domains/factories/domains/forms/form-submission.factory.ts
  libs/api/bll/src/domains/factories/domains/forms/form.factory.ts
  libs/api/bll/src/domains/factories/domains/images/actor-image.factory.ts
  libs/api/bll/src/domains/factories/domains/images/image-upload.factory.ts
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/bll/src/domains/factories/domains/socials/social.factory.ts
  libs/api/bll/src/domains/factories/domains/tags/tag.factory.ts
  libs/api/bll/src/domains/factories/domains/tags/team-category.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/finance.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/project.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/team.factory.ts
  libs/api/bll/src/domains/factories/domains/tenants/tenant.factory.ts
  libs/api/bll/src/domains/factories/domains/users/user.factory.ts
Due: prettier --write, eslint

✨ UI: Add skeleton loaders
  libs/ui/atoms/src/Skeleton/Skeleton.scss
  libs/ui/atoms/src/Skeleton/Skeleton.tsx
  libs/ui/molecules/src/Skeleton/CardSkeleton.tsx
  libs/ui/molecules/src/Skeleton/LabeledTeamSkeleton.tsx
  libs/ui/molecules/src/Skeleton/LabeledUserSkeleton.tsx
  libs/ui/molecules/src/Skeleton/ProfileSkeleton.tsx
Due: prettier --write, stylelint --fix, eslint

♻️ Enums: fix & refactor
  libs/shared/consts/src/global/colors.ts
  libs/shared/enums/src/dal/content-master/form-type.enum.ts
  libs/shared/enums/src/index.ts
  libs/shared/enums/src/ui/control-type.enum.ts
  libs/shared/types/src/interfaces/ui/selected-menu.interface.ts
  libs/ui/organisms/src/dynamic-form/DynamicForm.tsx
Due: prettier --write, eslint

♻️ Update recommended VSCode extensions
  .vscode/extensions.json
Due: prettier --write

💄 ♻️ Atoms: Toast refactor
  libs/ui/atoms/src/Popup/Toast.scss
  libs/ui/atoms/src/Popup/Toast.tsx
Due: prettier --write, stylelint --fix, eslint

♻️ UI: refactor TabsView & add TabButton
  libs/ui/atoms/src/Button/TabButton.tsx
  libs/ui/templates/src/tabs/TabsView.tsx
Due: prettier --write, eslint

💄 Styles: complete colors refactor
  libs/ui/styles/src/global/colors.scss
Due: prettier --write, stylelint --fix

🐛 DTOs: fix UpdateTeamDto
  libs/shared/dtos/src/resources/org/team/update-team.dto.ts
Due: prettier --write, eslint

✨ Graphql: Add queries & update queries and fragments
  libs/shared/graphql/src/fragments/formFragment.ts
  libs/shared/graphql/src/fragments/teamFragment.ts
  libs/shared/graphql/src/fragments/teamManageFragment.ts
  libs/shared/graphql/src/fragments/userMembershipsFragment.ts
  libs/shared/graphql/src/index.ts
  libs/shared/graphql/src/mutations/team/deactivateTeamImage.ts
  libs/shared/graphql/src/mutations/team/updateTeam.ts
  libs/shared/graphql/src/queries/getTeamManageBySlug.ts
  libs/shared/graphql/src/queries/getTeamWithMembersBySlug.ts
  libs/shared/graphql/src/queries/getUserById.ts
  libs/shared/graphql/src/queries/getUserBySlug.ts
  libs/shared/graphql/src/queries/getUserMembershipsById.ts
  libs/shared/graphql/src/schema/__generated__/gql.ts
  libs/shared/graphql/src/schema/__generated__/graphql.ts
  libs/shared/graphql/src/schema/schema.gql
Due: prettier --write, eslint

🐛 DAL: reindex DAL files
  libs/api/dal/src/index.ts
Due: prettier --write, eslint

💄 ♻️ UI: minor refactors
  apps/site/src/app/views/ErrorPage.tsx
  libs/ui/atoms/src/Image/Avatar.tsx
  libs/ui/atoms/src/Image/Banner.tsx
  libs/ui/molecules/src/Group/ItemGroup.tsx
  libs/ui/molecules/src/Group/TagGroup.tsx
Due: prettier --write, eslint

💄 ✨ UI: custom button styles
  libs/ui/atoms/src/Button/ActionButton.tsx
  libs/ui/styles/src/components/button.scss
Due: prettier --write, stylelint --fix, eslint

🐛 DAL: add joinForm to TeamSeeder
  libs/api/dal/src/shards/seeders/factories/team.seeder.ts
Due: prettier --write, eslint

✨ ♻️ UI: Refactor Popover & add user/team cards
  libs/ui/atoms/src/Popup/Popover.tsx
  libs/ui/molecules/src/Card/PopoverCard.tsx
  libs/ui/molecules/src/Card/TeamCard.tsx
  libs/ui/molecules/src/Card/UserCard.tsx
  libs/ui/molecules/src/Group/AvatarGroup.tsx
  libs/ui/molecules/src/Labeled/LabeledTeam.tsx
  libs/ui/molecules/src/Labeled/LabeledUser.tsx
Due: prettier --write, eslint

✨ Types: Add & refactor types
  libs/shared/types/src/index.ts
  libs/shared/types/src/interfaces/ui/button.props.ts
  libs/shared/types/src/interfaces/ui/side-bubble.interface.ts
  libs/shared/types/src/interfaces/ui/toast.props.ts
  libs/shared/types/src/types/no-undefined.type.ts
  libs/shared/types/src/types/only-either.type.ts
Due: prettier --write, eslint

✨ API: add TeamJoin "joins" backref in Team
  libs/api/bll/src/domains/factories/domains/teams/team-join.model.ts
  libs/api/bll/src/domains/factories/domains/teams/team.model.ts
  libs/api/dal/src/resources/org/team/team.entity.ts
  libs/shared/dtos/src/resources/org/team/team.interface.ts
  libs/shared/graphql/src/fragments/teamManageFragment.ts
  libs/shared/graphql/src/schema/schema.gql
Due: prettier --write, eslint

♻️ 💄 Site: update Sidebar style
  apps/site/src/app/components/Layout/Sidebar/Sidebar.tsx
  apps/site/src/app/styles/layout.scss
Due: prettier --write, stylelint --fix, eslint

✨ ♻️ API: refactor some props & add FormEditModel
  libs/api/bll/src/domains/factories/abstract.utils.ts
  libs/api/bll/src/domains/factories/abstract/ugc.model.ts
  libs/api/bll/src/domains/factories/domains/documents/document-edit.model.ts
  libs/api/bll/src/domains/factories/domains/documents/document.model.ts
  libs/api/bll/src/domains/factories/domains/documents/org-document.factory.ts
  libs/api/bll/src/domains/factories/domains/forms/form-edit.model.ts
  libs/api/bll/src/domains/factories/domains/forms/form-submission.factory.ts
  libs/api/bll/src/domains/factories/domains/forms/form-submission.model.ts
  libs/api/bll/src/domains/factories/domains/forms/form.model.ts
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/bll/src/domains/factories/domains/teams/team.factory.ts
  libs/api/bll/src/domains/factories/domains/tenants/tenant.factory.ts
  libs/api/bll/src/domains/resources/events/commands/create-event/create-event.command.ts
  libs/api/bll/src/domains/resources/events/commands/create-event/create-event.handler.ts
  libs/api/bll/src/domains/resources/users/users.service.ts
  libs/api/bll/src/features/search/to-searchable.ts
  libs/api/dal/src/resources/content-master/event/event.entity.ts
  libs/api/dal/src/resources/ugc/document-edit/document-edit.entity.ts
  libs/api/dal/src/resources/ugc/document-edit/document-edit.options.ts
  libs/api/dal/src/resources/ugc/document/document.entity.ts
  libs/api/dal/src/resources/ugc/document/document.options.ts
  libs/api/dal/src/resources/ugc/form-edit/form-edit.entity.ts
  libs/api/dal/src/resources/ugc/form-submission-edit/form-submission-edit.entity.ts
  libs/api/dal/src/resources/ugc/form-submission-edit/form-submission-edit.options.ts
  libs/api/dal/src/resources/ugc/form-submission/form-submission.entity.ts
  libs/api/dal/src/resources/ugc/form-submission/form-submission.options.ts
  libs/api/dal/src/resources/ugc/form/form.entity.ts
  libs/api/dal/src/resources/ugc/ugc.entity.ts
  libs/api/dal/src/shards/seeders/factories/team.seeder.ts
  libs/shared/dtos/src/index.ts
  libs/shared/dtos/src/resources/ugc/document-edit/document-edit.interface.ts
  libs/shared/dtos/src/resources/ugc/document-edit/document-edit.props.ts
  libs/shared/dtos/src/resources/ugc/document/document.interface.ts
  libs/shared/dtos/src/resources/ugc/document/document.props.ts
  libs/shared/dtos/src/resources/ugc/form-edit/form-edit.interface.ts
  libs/shared/dtos/src/resources/ugc/form-edit/form-edit.props.ts
  libs/shared/dtos/src/resources/ugc/form-submission-edit/form-submission-edit.interface.ts
  libs/shared/dtos/src/resources/ugc/form-submission/form-submission.interface.ts
  libs/shared/dtos/src/resources/ugc/ugc.props.ts
  libs/shared/graphql/src/schema/schema.gql
Due: prettier --write, eslint

♻️ Graphql: Update fragments with new changes
  libs/shared/graphql/src/fragments/documentFragment.ts
  libs/shared/graphql/src/fragments/eventFragment.ts
  libs/shared/graphql/src/fragments/teamManageFragment.ts
  libs/shared/graphql/src/schema/__generated__/gql.ts
  libs/shared/graphql/src/schema/__generated__/graphql.ts
Due: prettier --write, eslint

♻️ 💄 UI: Styles refactor
  libs/ui/atoms/src/Circle/Bubble.tsx
  libs/ui/atoms/src/Gradient/GradientDark.tsx
  libs/ui/atoms/src/Gradient/GradientTransparent.tsx
  libs/ui/organisms/src/dashboard/Dashboard.tsx
  libs/ui/styles/src/components/button.scss
  libs/ui/styles/src/components/text.scss
  libs/ui/styles/src/global/colors.scss
  libs/ui/styles/src/global/fonts.scss
  libs/ui/styles/src/global/scrollbar.scss
  libs/ui/styles/src/global/utils.scss
Due: prettier --write, stylelint --fix, eslint

✨ BLL: add tenant in deactivateActorImage command
  libs/api/bll/src/domains/resources/actors/actors.service.ts
  libs/api/bll/src/domains/resources/actors/commands/deactivate-actor-image/deactivate-actor-image.command.ts
  libs/api/bll/src/domains/resources/actors/commands/deactivate-actor-image/deactivate-actor-image.handler.ts
  libs/api/bll/src/domains/resources/teams/commands/deactivate-team-image/deactivate-team-image.handler.ts
Due: prettier --write, eslint

✨ BLL: add DeactivateUserImage command & refactor updateUser
  libs/api/bll/src/domains/resources/users/commands/deactivate-user-image/deactivate-user-image.command.ts
  libs/api/bll/src/domains/resources/users/commands/deactivate-user-image/deactivate-user-image.handler.ts
  libs/api/bll/src/domains/resources/users/commands/update-user/update-user.command.ts
  libs/api/bll/src/domains/resources/users/commands/update-user/update-user.handler.ts
  libs/api/bll/src/domains/resources/users/users.resolver.ts
  libs/api/bll/src/domains/resources/users/users.service.ts
Due: prettier --write, eslint

♻️ BLL: refactor deactivate & remove abstract.utils
  libs/api/bll/src/domains/factories/base.factory.ts
  libs/api/bll/src/domains/factories/domains/documents/org-document.factory.ts
  libs/api/bll/src/domains/factories/domains/images/actor-image.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/team.factory.ts
  libs/api/bll/src/domains/factories/domains/users/user.factory.ts
  libs/api/bll/src/domains/factories/factory.utils.ts
Due: prettier --write, eslint

✨ BLL: add custom filters on getUsers and getTeams queries
  libs/api/bll/src/domains/resources/filter-query.utils.ts
  libs/api/bll/src/domains/resources/teams/queries/get-teams/get-teams.handler.ts
  libs/api/bll/src/domains/resources/teams/queries/get-teams/get-teams.query.ts
  libs/api/bll/src/domains/resources/teams/team.filter-query.ts
  libs/api/bll/src/domains/resources/teams/teams.resolver.ts
  libs/api/bll/src/domains/resources/teams/teams.service.ts
  libs/api/bll/src/domains/resources/users/queries/get-users/get-users.handler.ts
  libs/api/bll/src/domains/resources/users/queries/get-users/get-users.query.ts
  libs/api/bll/src/domains/resources/users/team-role.filter-query.ts
  libs/api/bll/src/domains/resources/users/user.filter-query.ts
Due: prettier --write, eslint

✨ API: add status field on Individual entity
  libs/api/bll/src/domains/factories/abstract/individual.model.ts
  libs/api/dal/src/resources/actor/individual/individual.entity.ts
  libs/shared/dtos/src/resources/actor/bot/bot.props.ts
  libs/shared/dtos/src/resources/actor/individual/individual.interface.ts
  libs/shared/dtos/src/resources/actor/individual/individual.props.ts
  libs/shared/dtos/src/resources/actor/user/user.props.ts
Due: prettier --write, eslint

🐛 API: miscellaneous fixes & index regeneration
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/bll/src/domains/resources/users/users.module.ts
  libs/api/bll/src/features/uaa/authorization/casl/get-abilities.ts
  libs/api/bll/src/index.ts
  libs/shared/dtos/src/index.ts
  libs/shared/dtos/src/resources/ugc/form-submission-edit/form-submission-edit.interface.ts
Due: prettier --write, eslint

✨ Consts: add default rounded percentage for avatars
  libs/shared/consts/src/index.ts
  libs/shared/consts/src/ui/avatar-rounded.ts
Due: prettier --write, eslint

🚚 Utils: rename, move & add length check in array utils
  libs/shared/utils/src/arrays/array-random-utils.ts
  libs/shared/utils/src/arrays/is-not-empty.ts
  libs/shared/utils/src/arrays/not-empty.ts
  libs/shared/utils/src/arrays/shuffle.ts
  libs/shared/utils/src/index.ts
Due: prettier --write, eslint

🔨 API: regenerate database migrations
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230211165914.ts
  apps/api/database/migrations/Migration20230211202309.ts
  apps/api/database/migrations/Migration20230214160504.ts
  apps/api/database/migrations/Migration20230228230534.ts
  apps/api/database/migrations/Migration20230302124126.ts
  apps/api/database/migrations/Migration20230307230054.ts
Due: prettier --write, eslint

✨ Graphql: refactor queries & fragments, regen schema
  libs/shared/graphql/src/fragments/meFragment.ts
  libs/shared/graphql/src/fragments/teamFragment.ts
  libs/shared/graphql/src/fragments/teamManageFragment.ts
  libs/shared/graphql/src/fragments/teamMembersFragments.ts
  libs/shared/graphql/src/fragments/userFragment.ts
  libs/shared/graphql/src/index.ts
  libs/shared/graphql/src/mutations/team/updateTeam.ts
  libs/shared/graphql/src/mutations/user/deactivateUserImage.ts
  libs/shared/graphql/src/mutations/user/updateUser.ts
  libs/shared/graphql/src/queries/getTeams.ts
  libs/shared/graphql/src/queries/getUsers.ts
  libs/shared/graphql/src/schema/__generated__/gql.ts
  libs/shared/graphql/src/schema/__generated__/graphql.ts
  libs/shared/graphql/src/schema/schema.gql
Due: prettier --write, eslint

✨ Site: add SitePanel layout component
  apps/site/src/app/components/Layout/SidePanel.tsx
  libs/ui/utils/src/actor-image/actor-image-base.type.ts
  libs/ui/utils/src/actor-image/get-actor-image.ts
  libs/ui/utils/src/index.ts
Due: prettier --write, eslint

♻️ UI: refactors
  libs/shared/types/src/interfaces/ui/button.props.ts
  libs/shared/types/src/interfaces/ui/selected-menu.interface.ts
  libs/ui/atoms/src/Button/ActionButton.tsx
  libs/ui/atoms/src/Image/Avatar.tsx
  libs/ui/atoms/src/Image/Banner.tsx
  libs/ui/atoms/src/Popup/Modal.tsx
  libs/ui/atoms/src/Text/TextSection.tsx
  libs/ui/molecules/src/Card/DocumentCard.tsx
  libs/ui/molecules/src/Card/EventCard.tsx
  libs/ui/molecules/src/Card/PopoverCard.tsx
  libs/ui/molecules/src/Card/TeamCard.tsx
  libs/ui/molecules/src/Card/TeamListCard.tsx
  libs/ui/molecules/src/Card/UserCard.tsx
  libs/ui/molecules/src/Content/MultiSection.tsx
  libs/ui/molecules/src/Group/AvatarGroupUser.tsx
  libs/ui/molecules/src/Group/FileGroup.tsx
  libs/ui/molecules/src/Group/ItemGroup.tsx
  libs/ui/molecules/src/Group/TagGroup.tsx
  libs/ui/molecules/src/Input/AvatarEditor.tsx
  libs/ui/molecules/src/Labeled/LabeledMember.tsx
  libs/ui/molecules/src/Labeled/LabeledMemberHorizontal.tsx
  libs/ui/molecules/src/Labeled/LabeledTeam.tsx
  libs/ui/molecules/src/Labeled/LabeledUser.tsx
  libs/ui/molecules/src/Skeleton/CardSkeleton.tsx
  libs/ui/molecules/src/Skeleton/ProfileSkeleton.tsx
Due: prettier --write, eslint

♻️ Site: views refactor
  apps/site/src/app/views/Admin/GuideManageView.tsx
  apps/site/src/app/views/GuideView.tsx
  apps/site/src/app/views/TeamList.tsx
  apps/site/src/app/views/TeamManage/DocumentManageView.tsx
  apps/site/src/app/views/TeamManage/EventManageView.tsx
  apps/site/src/app/views/TeamManage/TreasuryManageView.tsx
  apps/site/src/app/views/Welcome/WelcomePage.tsx
Due: prettier --write, eslint

✨ Site: add BannerEditor
  apps/site/src/app/views/ProfileBase.tsx
  libs/ui/molecules/src/Input/BannerEditor.tsx
Due: prettier --write, eslint
