Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

✏️ Prisma: minor schema fix
  apps/site/app/(frontend)/(app)/manage/team/[slug]/(history)/points/GetUsersWithPoints.graphql
  apps/site/app/(frontend)/(app)/manage/tenant/points/GetTenantUsersWithPoints.graphql
  apps/site/database/hasura/schema.gql
  apps/site/database/prisma/migrations/20231001201535_init/migration.sql
  apps/site/database/prisma/schema.prisma
  libs/shared/graphql/src/generated.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

✨ ♻️ Package: refactor & improve dev scripts
  apps/site/.env.development
  apps/site/database/prisma/seed.ts
  package.json
  tools/scripts/graphql/init.sh
  tools/scripts/graphql/wait-init.sh
  tools/scripts/init.sh
  tools/scripts/prisma/wait-init.sh
  tools/scripts/s3/init.mjs
  tools/scripts/s3/wait-init.sh
Due: prettier --write, eslint

♻️ Site: do not use @hookform/error-message
  apps/site/app/(frontend)/(auth)/signin/page.tsx
  apps/site/app/_components/organisms/Form/ErrorMessage.tsx
  apps/site/app/_components/organisms/Form/FormErrors.tsx
Due: prettier --write, eslint

♻️ Utils: do not use nanoid in randomId & FormEditor
  apps/site/app/_components/organisms/FormEditor/FormEditor.tsx
  libs/shared/utils/src/libs/id/random-id.ts
Due: prettier --write, eslint

➖ ⬆️ Deps: remove unused & update
  package.json
  pnpm-lock.yaml
Due: prettier --write

✏️ Site: fix graphql typos
  apps/site/app/(frontend)/(app)/manage/team/[slug]/(history)/points/GetUsersWithPoints.graphql
  apps/site/app/(frontend)/(app)/manage/team/[slug]/(history)/points/page.tsx
  apps/site/app/(frontend)/(app)/manage/tenant/points/page.tsx
  libs/shared/graphql/src/generated.ts
Due: prettier --write, eslint

🐛 Hasura: fix metadata
  apps/site/database/hasura/metadata/databases/okampus/tables/public_actor_tag.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_tenant.yaml
Due: none

🚨 Styles: stylelint fix
  apps/site/styles/layout.scss
Due: prettier --write, stylelint --fix

🚨 Hasura: remove traling newline in schema.gql
  apps/site/database/hasura/schema.gql
Due: none

✨ Prisma: add admin password updating in seeding
  apps/site/database/prisma/seed.ts
Due: prettier --write, eslint

🚨 Site: misc fixes
  apps/site/app/(frontend)/(app)/manage/event/[slug]/page.tsx
  apps/site/app/_components/molecules/ImageEditor/ImageCropper.tsx
  apps/site/app/_components/molecules/Input/Date/CalendarInput.tsx
  apps/site/utils/format/format-address.ts
Due: prettier --write, eslint

💄 Site: replace main font Space Grotesk -> Onest
  apps/site/app/(frontend)/layout.tsx
Due: prettier --write, eslint

🐛 ♻️ Site: misc frontend fixes and refactors
  apps/site/app/(frontend)/(app)/me/page.tsx
  apps/site/app/(frontend)/frontend.css
  apps/site/app/_components/atoms/Popup/Popover/PopoverContent.tsx
  apps/site/app/_components/layouts/SideBar.tsx
  apps/site/app/_components/layouts/SideBar/SidebarBanner.tsx
  apps/site/app/_components/layouts/SideBar/SidebarTitle.tsx
  apps/site/app/_components/layouts/TabBar/TabBar.tsx
  apps/site/app/_components/molecules/Button/MenuList.tsx
  apps/site/app/_components/molecules/Input/Search/AutoCompleteInput.tsx
  apps/site/app/_components/molecules/Input/Select/SelectInput.tsx
  apps/site/app/_components/molecules/Input/Selector/CheckboxInput.tsx
  apps/site/app/_views/RequiredDocument/RequiredDocumentCard.tsx
  apps/site/styles/button.scss
  apps/site/styles/colors.scss
  apps/site/styles/components/input.scss
  apps/site/styles/input.scss
Due: prettier --write, stylelint --fix, eslint

🐛 Utils: fix randomId
  libs/shared/utils/src/libs/id/random-id.ts
  libs/shared/utils/src/strings/to-slug.ts
Due: prettier --write, eslint

✨ ♻️ Utils: add getDateTimeString & refactor files to use uniqueSlug/getDateTimeString
  apps/site/app/(frontend)/(app)/manage/team/[slug]/(history)/points/page.tsx
  apps/site/app/_components/organisms/FormEditor/FormEditor.tsx
  apps/site/app/_views/TransactionDashboard.tsx
  apps/site/database/prisma/services/upload.ts
  apps/site/server/trpc/routes/getOcrPresignedUrl.ts
  apps/site/server/trpc/routes/getPresignedUrls.ts
  apps/site/utils/download-file.ts
  libs/shared/utils/src/dates/get-date-time-string.ts
  libs/shared/utils/src/index.ts
Due: prettier --write, eslint

♻️ ✨ EmptyState: refactor some empty states, add teams empty state
  apps/site/app/(frontend)/(app)/teams/[[...category]]/page.tsx
  libs/assets/src/svg/empty-state/add-user.svg
  libs/assets/src/svg/empty-state/teams.svg
  libs/assets/src/svg/empty-state/toggle-user.svg
Due: prettier --write, eslint

💄 ♻️ Site: frontend refactors & fixes
  apps/site/app/(frontend)/(app)/manage/event/[slug]/page.tsx
  apps/site/app/_components/layouts/BottomBar.tsx
  apps/site/app/_components/layouts/SideBar/SidebarTitle.tsx
  apps/site/app/_components/molecules/ImageEditor/AvatarEditor.tsx
  apps/site/app/_components/molecules/ImageEditor/BannerEditor.tsx
  apps/site/app/_components/molecules/ImageEditor/ImageCropperEditor.tsx
  apps/site/app/_components/molecules/Input/Select/SelectInput.tsx
  apps/site/app/_components/organisms/Form/FormSubmissionRender.tsx
  apps/site/styles/input.scss
Due: prettier --write, stylelint --fix, eslint

♻️ 🐛 Site: fix FileInput & refactor input control types
  apps/site/app/_components/molecules/Input/File/FileInput.tsx
  apps/site/app/_components/molecules/Input/File/MultiFileInput.tsx
  apps/site/app/_components/organisms/Form/FormSchemaRender.tsx
  apps/site/app/_components/organisms/Form/FormSubmissionRender.tsx
  apps/site/utils/file/get-file-list.ts
  libs/shared/enums/src/ui/control-type.enum.ts
  libs/shared/types/src/global/form-field.interface.ts
Due: prettier --write, eslint

🐛 Prisma: fix ActorTag relations & regenerate Hasura
  apps/site/database/hasura/schema.gql
  apps/site/database/prisma/migrations/20231009070217_init/migration.sql
  apps/site/database/prisma/schema.prisma
  libs/shared/graphql/src/generated.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

🐛 ♻️ *: Misc refactors
  libs/shared/utils/.eslintrc.json
  libs/shared/utils/src/numbers/random-int.ts
  libs/shared/utils/src/strings/to-slug.ts
  package.json
Due: prettier --write, eslint

♻️ Enums: minor enum refactors
  libs/shared/enums/src/dal/actor/location-type.enum.ts
  libs/shared/enums/src/dal/actor/social-type.enum.ts
  libs/shared/enums/src/dal/join/processed-via.enum.ts
  libs/shared/enums/src/dal/label/tag-type.enum.ts
Due: prettier --write, eslint

🐛 ♻️ ✨ Seeding: add development seeding & fixes, refactors
  apps/site/database/hasura/schema.gql
  apps/site/database/prisma/fakers/fake-action.ts
  apps/site/database/prisma/fakers/fake-event-approval.ts
  apps/site/database/prisma/fakers/fake-event.ts
  apps/site/database/prisma/fakers/fake-mission.ts
  apps/site/database/prisma/fakers/fake-submission.ts
  apps/site/database/prisma/fakers/fake-tag.ts
  apps/site/database/prisma/fakers/fake-user.ts
  apps/site/database/prisma/fakers/faker-utils.ts
  apps/site/database/prisma/seed-development.ts
  apps/site/database/prisma/seed-production.ts
  apps/site/database/prisma/seed.ts
  apps/site/database/prisma/seeders/default-roles.ts
  apps/site/database/prisma/seeders/defaults.ts
  apps/site/database/prisma/seeders/from-yaml.ts
  apps/site/database/prisma/seeders/seed-banks.ts
  apps/site/database/prisma/seeders/seed-campus.ts
  apps/site/database/prisma/seeders/seed-categories.ts
  apps/site/database/prisma/seeders/seed-legal-units.ts
  apps/site/database/prisma/seeders/seed-teams.ts
  apps/site/database/prisma/seeders/seed-tenant.ts
  apps/site/database/prisma/seeding/defaults.ts
  apps/site/database/prisma/services/geoapify.ts
  apps/site/server/root.ts
  apps/site/server/utils/read-s3-file.ts
  libs/assets/src/documents/receipt-example.pdf
  libs/assets/src/sample/receipt.pdf
Due: prettier --write, eslint

💄 ♻️ Site: change font to Instrument Sans
  apps/site/app/(frontend)/layout.tsx
Due: prettier --write, eslint

♻️ Config: update swcMinify & transpile @phosphor-icons/react in next.config
  apps/site/next.config.js
Due: prettier --write, eslint

✏️ Seeding: fix TeamCategory seeding
  apps/site/database/prisma/seeders/seed-categories.ts
Due: prettier --write, eslint

✨ Molecules: add Slider input component
  apps/site/app/_components/molecules/Input/Slider.tsx
Due: prettier --write, eslint

✨ Atoms: add showName prop to AvatarImage
  apps/site/app/(frontend)/(app)/teams/[[...category]]/page.tsx
  apps/site/app/_components/atoms/Image/AvatarImage.tsx
Due: prettier --write, eslint

✨ Auth: restrict JWT to tenant scope
  apps/site/app/api/auth/[tenantOidcName]/callback/route.ts
  apps/site/server/trpc/auth/jwt.ts
  apps/site/server/trpc/auth/sessions.ts
  apps/site/server/trpc/context.ts
  apps/site/server/trpc/routes/login.ts
Due: prettier --write, eslint

✨ Package: add hasura command shortcuts
  package.json
Due: prettier --write

✨ Hasura: add file upload insert permissions
  apps/site/database/hasura/metadata/databases/okampus/tables/public_file_upload.yaml
Due: none

🔥 Prisma: remove fileLastModifiedAt from schema
  apps/site/database/hasura/schema.gql
  apps/site/database/prisma/migrations/20231009115414_init/migration.sql
  apps/site/database/prisma/schema.prisma
  libs/shared/graphql/src/generated.ts
  libs/shared/graphql/src/schema.merged.graphql
Due: prettier --write, eslint

♻️ Hasura: add aggregation permissions on public tenant entities
  apps/site/database/hasura/metadata/databases/okampus/tables/public_campus.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_campus_cluster.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_event.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_event_join.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_team_member.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_tenant_member.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_user.yaml
Due: none

🐛 Utils: limit randomId's alphabet
  libs/shared/utils/src/libs/id/random-id.ts
Due: prettier --write, eslint

💄 Site: misc minor UI refactors
  apps/site/app/(frontend)/(app)/teams/[[...category]]/page.tsx
  apps/site/app/_components/atoms/Item/LinkItem.tsx
  apps/site/app/_components/molecules/Log/LogItem.tsx
Due: prettier --write, eslint

🐛 Utils: fix pathStyleS3 function
  apps/site/utils/s3/get-s3-url.ts
Due: prettier --write, eslint

♻️ Hasura: add actor tag select permissions
  apps/site/database/hasura/metadata/databases/okampus/tables/public_actor_tag.yaml
Due: none

♻️ Site: add missing file metadata in XHR upload
  apps/site/utils/xhr-upload.ts
Due: prettier --write, eslint

♻️ Hasura: add bucket, name select permissions on file upload
  apps/site/database/hasura/metadata/databases/okampus/tables/public_file_upload.yaml
Due: none

🔊 Site: add dev only debug logs
  apps/site/app/(frontend)/(app)/layout.tsx
  apps/site/app/(frontend)/(app)/manage/event/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/manage/project/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/manage/team/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/manage/tenant/layout.tsx
  apps/site/app/(frontend)/(app)/team/[slug]/layout.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: **/*.{css,scss}) or (any of: **/*.{js,jsx,ts,tsx})) or (any of: **/*.{html,json,md,yml})
  stylelint --fix: any of: **/*.{css,scss}
  eslint: any of: **/*.{js,jsx,ts,tsx}
