Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

.lintstagedrc:

{
  "**/*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "**/*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "**/*.{html,json,md,yml}": ["prettier --write"]
}

👷 Netlify: add _redirects to public
  apps/site/public/_redirects
Due: none

🐛 ♻️ Site: misc fixes & refactors
  .gitignore
  apps/site/.env.example
  apps/site/app/(frontend)/(app)/event/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/manage/event/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/manage/project/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/project/[slug]/layout.tsx
  apps/site/app/(frontend)/(app)/team/[slug]/page.tsx
  apps/site/components/forms/TransactionForm/TransactionReceiptStep.tsx
  apps/site/components/layouts/SideBar.tsx
  apps/site/components/layouts/SideBar/ManageButton/ProjectManageButton.tsx
  apps/site/components/layouts/SidePanel.tsx
  apps/site/components/molecules/Log/LogItem.tsx
  apps/site/context/navigation.ts
  apps/site/jest.config.ts
  apps/site/project.json
  apps/site/tsconfig.app.json
  apps/site/tsconfig.json
  apps/site/tsconfig.spec.json
  libs/shared/graphql/src/index.ts
  libs/shared/graphql/src/selectors/project/projectBase.ts
  libs/shared/graphql/src/selectors/project/projectManage.ts
Due: prettier --write, eslint

⏪ Site: disable auto-localization in next config
  apps/site/next.config.js
Due: prettier --write, eslint

♻️ Site: put locales data in public folder
  apps/site/config/i18n.ts
  apps/site/context/global.ts
  apps/site/hooks/context/useLocale.ts
  apps/site/hooks/context/useTranslation.tsx
  apps/site/public/locales/en-US/common.json
  apps/site/public/locales/en-US/determiners.json
  apps/site/public/locales/en-US/entities.json
  apps/site/public/locales/en-US/enums.json
  apps/site/public/locales/fr-FR/common.json
  apps/site/public/locales/fr-FR/determiners.json
  apps/site/public/locales/fr-FR/entities.json
  apps/site/public/locales/fr-FR/enums.json
  apps/site/ssr/getLang.ts
  apps/site/ssr/getTranslation.ts
  apps/site/utils/form-validation/discord-invite.ts
  apps/site/utils/i18n/translate.ts
Due: prettier --write, eslint

⬆️ API: update pnpm in Dockerfile
  apps/api/Dockerfile
Due: none

🏷️ Site: update tsconfig
  apps/site/tsconfig.json
Due: prettier --write

⏪ Site: move locales back to site root
  apps/site/locales/en-US/common.json
  apps/site/locales/en-US/determiners.json
  apps/site/locales/en-US/entities.json
  apps/site/locales/en-US/enums.json
  apps/site/locales/fr-FR/common.json
  apps/site/locales/fr-FR/determiners.json
  apps/site/locales/fr-FR/entities.json
  apps/site/locales/fr-FR/enums.json
  apps/site/next.config.js
  apps/site/ssr/getTranslation.ts
  apps/site/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🔥 Site: remove redirects and switch from Netlify to Vercel hosting
  apps/site/public/_redirects
Due: none

🚧 Site: attempt Vercel including locales folder
  apps/site/app/api/locales/route.ts
  apps/site/config/i18n.ts
  apps/site/ssr/getLang.ts
Due: prettier --write, eslint

🐛 Site: attempt fix to include locales folder magically in Vercel
  apps/site/app/api/locales/route.ts
Due: prettier --write, eslint

✨ Site: add site/api urls const envs
  apps/site/context/consts.ts
Due: prettier --write, eslint

🚧 ⏪ Site: put locales back in public, find public dynamically from env
  apps/site/.env.example
  apps/site/app/api/locales/route.ts
  apps/site/next.config.js
  apps/site/public/locales/en-US/common.json
  apps/site/public/locales/en-US/determiners.json
  apps/site/public/locales/en-US/entities.json
  apps/site/public/locales/en-US/enums.json
  apps/site/public/locales/fr-FR/common.json
  apps/site/public/locales/fr-FR/determiners.json
  apps/site/public/locales/fr-FR/entities.json
  apps/site/public/locales/fr-FR/enums.json
  apps/site/ssr/getTranslation.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🚧 🐛 Site: yet another attempt to fix locales folder in Vercel
  apps/site/.env.example
  apps/site/app/api/locales/route.ts
  apps/site/context/consts.ts
  apps/site/locales/en-US/common.json
  apps/site/locales/en-US/determiners.json
  apps/site/locales/en-US/entities.json
  apps/site/locales/en-US/enums.json
  apps/site/locales/fr-FR/common.json
  apps/site/locales/fr-FR/determiners.json
  apps/site/locales/fr-FR/entities.json
  apps/site/locales/fr-FR/enums.json
  apps/site/ssr/getTranslation.ts
  apps/site/vercel.json
Due: prettier --write, eslint

🚧 🚑 Site: fix vercel.json
  apps/site/vercel.json
Due: prettier --write

🚧 🐛 Site: replace path.join(process.cwd()... with path.resolve : magic fix??
  apps/site/app/api/locales/route.ts
  apps/site/ssr/getTranslation.ts
  apps/site/vercel.json
Due: prettier --write, eslint

🐛 Site: fixes
  apps/site/components/layouts/SidePanel/TeamSidePanel.tsx
  apps/site/ssr/getTranslation.ts
Due: prettier --write, eslint

🐛 Site: fix call to API route
  apps/site/context/consts.ts
  apps/site/ssr/getTranslation.ts
Due: prettier --write, eslint

♻️ ✨ Add View & EventSupervisor entities, minor refactors
  apps/api/database/hasura/metadata/databases/default/tables/public_actor.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_content.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_organize.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_supervisor.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_individual.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_tenant.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_user.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_view.yaml
  apps/api/database/hasura/metadata/databases/default/tables/tables.yaml
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230725221434.ts
  libs/api/dal/src/index.ts
  libs/api/dal/src/resources/actor/actor.entity.ts
  libs/api/dal/src/resources/content/content.entity.ts
  libs/api/dal/src/resources/content/favorite/favorite.entity.ts
  libs/api/dal/src/resources/content/view/view.entity.ts
  libs/api/dal/src/resources/content/view/view.options.ts
  libs/api/dal/src/resources/content/view/view.repository.ts
  libs/api/dal/src/resources/entities.ts
  libs/api/dal/src/resources/event/event-organize/event-organize.entity.ts
  libs/api/dal/src/resources/event/event-supervisor/event-supervisor.entity.ts
  libs/api/dal/src/resources/event/event-supervisor/event-supervisor.options.ts
  libs/api/dal/src/resources/event/event-supervisor/event-supervisor.repository.ts
  libs/shared/dtos/src/index.ts
  libs/shared/dtos/src/resources/content/favorite/favorite.props.ts
  libs/shared/enums/src/dal/entity-name.enum.ts
  libs/shared/enums/src/dal/permissions/admin-permissions.enum.ts
  libs/shared/enums/src/dal/permissions/team-permissions.enum.ts
  libs/shared/enums/src/index.ts
Due: prettier --write, eslint

✨ API: include metadata apply in Dockerfile
  apps/api/Dockerfile
Due: none

🐛 API: fix Dockerfile, use hasura-cli lib instead of installing manually
  apps/api/Dockerfile
  apps/api/project.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

🐛 Deps: fix out of date lock file
  pnpm-lock.yaml
Due: none

👷 CI: trigger workflows on package.json update
  .github/workflows/backend-build.yml
  .github/workflows/backend-deploy-prod.yml
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
Due: prettier --write

✨ Site: add auth button for each tenant's oidc
  apps/site/app/(frontend)/(auth)/signin/page.tsx
  libs/shared/graphql/src/index.ts
  libs/shared/graphql/src/selectors/tenant/tenantOidc.ts
Due: prettier --write, eslint

⬆️ API: update hasura in local Docker
  apps/api/database/hasura/run.sh
Due: none

🐛 🚧 API: set Dockerfile node version to 18 for hasura-cli compatibility
  apps/api/Dockerfile
Due: none

🔥 Hasura: regenerate hasura metadata (remove old tables/relations)
  apps/api/database/hasura/metadata/databases/default/tables/public_account_allocate.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_actor_address.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_actor_bank_info.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_actor_finance.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_actor_finance_receipt.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_actor_finance_receipts.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_bot_info.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_change_role.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_content_edit.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_content_master.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_content_master_contributors.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_content_master_tags.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_content_teams.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_document_edit.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_attendance.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_change_role.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_manage.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_manage_supervisors.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_role.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_event_supervisors.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_form_edit.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_form_submission_edit.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_grant_unlock.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_grant_unlock_attachments.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_mikro_orm_migrations.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_project_role.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_team_event_manages.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_team_events.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_team_finance.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_team_finance_attachments.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_team_finance_edit.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_team_tags.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_tenant_manage.yaml
  apps/api/database/hasura/metadata/databases/default/tables/public_user_info.yaml
Due: none

✨ ♻️ API: refactor S3 & file upload service
  apps/api/.env.example
  apps/api/configs/config.ts
  libs/api/bll/src/features/uploads/uploads.module.ts
  libs/api/bll/src/features/uploads/uploads.resolver.ts
  libs/api/bll/src/features/uploads/uploads.service.ts
  libs/api/bll/src/global/health/health.controller.ts
  libs/api/bll/src/shards/seeders/app.seeder.ts
  libs/api/dal/src/resources/actor/location/location.entity.ts
  libs/api/dal/src/resources/team/finance/finance.entity.ts
  libs/api/dal/src/resources/team/grant-allocate/grant-allocate.entity.ts
  libs/api/dal/src/resources/team/grant/grant.entity.ts
  libs/api/shards/src/consts/mime-type.ts
  libs/shared/enums/src/dal/s3/buckets.enum.ts
  libs/shared/types/src/api/bll/multer-file.interface.ts
  libs/shared/types/src/api/config.interface.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🐛 Deps: update pnpm-lock
  pnpm-lock.yaml
Due: none

🚧 🐛 API: Dockerfile potential fix, install cli-ext for hasura-cli
  apps/api/Dockerfile
Due: none

🚧 🐛 API: Dockerfile potential fix, change node to 16
  apps/api/Dockerfile
Due: none

🚧 🐛 API: Dockerfile attempt fix, add gcompat
  apps/api/Dockerfile
Due: none

♻️ API: minor health controller refactor
  libs/api/bll/src/global/health/health.controller.ts
Due: prettier --write, eslint

⬆️ Deps: update dependencies & remove unused
  package.json
  pnpm-lock.yaml
Due: prettier --write

⬆️ Deps: upgrade more dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

⬆️ Deps: upgrade & ignore swc in next config
  apps/site/next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🐛 API: fix faker address module update
  libs/api/bll/src/shards/seeders/app.seeder.ts
  libs/api/bll/src/shards/seeders/factories/event.seeder.ts
Due: prettier --write, eslint
