Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

.lintstagedrc:

{
  "**/*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "**/*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "**/*.{html,json,md,yml}": ["prettier --write"]
}

✨ Utils: add new date formatting
  libs/shared/utils/src/dates/date-formattters.ts
Due: prettier --write, eslint

✨ ♻️ Graphql: refactor and add selectors
  apps/site/src/app/views/Project/ProjectEventListView.tsx
  libs/shared/graphql/src/index.ts
  libs/shared/graphql/src/selectors/actor/actorBase.ts
  libs/shared/graphql/src/selectors/actor/actorMinimal.ts
  libs/shared/graphql/src/selectors/event/eventBase.ts
  libs/shared/graphql/src/selectors/event/eventJoin/eventJoinBase.ts
  libs/shared/graphql/src/selectors/event/eventJoin/eventJoinMinimal.ts
  libs/shared/graphql/src/selectors/event/eventWithJoin.ts
  libs/shared/graphql/src/selectors/event/eventWithJoinDetails.ts
  libs/shared/graphql/src/selectors/log/logBase.ts
  libs/shared/graphql/src/selectors/team/teamJoin/teamJoinBase.ts
  libs/shared/graphql/src/selectors/team/teamManage.ts
  libs/shared/graphql/src/selectors/team/teamMinimal.ts
Due: prettier --write, eslint

✏️ 🔥 DTOs: remove & fix unused/incorrect props
  libs/api/bll/src/shards/seeders/factories/event.seeder.ts
  libs/api/bll/src/shards/seeders/factories/team.seeder.ts
  libs/api/dal/src/resources/form/form.entity.ts
  libs/api/dal/src/resources/form/form.options.ts
  libs/api/dal/src/resources/team/team.entity.ts
  libs/shared/dtos/src/index.ts
  libs/shared/dtos/src/resources/event/event.props.ts
  libs/shared/dtos/src/resources/form/form.props.ts
  libs/shared/dtos/src/resources/project/project-role/project-role.props.ts
  libs/shared/dtos/src/resources/team/team.props.ts
Due: prettier --write, eslint

✨ API: add TenantManageType on TenantManage
  apps/api/src/app.module.ts
  libs/api/bll/src/shards/seeders/app.seeder.ts
  libs/api/dal/src/resources/tenant/tenant-manage/tenant-manage.entity.ts
  libs/api/dal/src/resources/tenant/tenant-manage/tenant-manage.options.ts
  libs/shared/enums/src/dal/tenant/tenant-manage-type.enum.ts
  libs/shared/enums/src/index.ts
Due: prettier --write, eslint

🐛 ♻️ API: misc refactors & fixes
  libs/api/bll/src/global/auth/auth.guard.ts
  libs/api/bll/src/global/auth/auth.service.ts
  libs/api/bll/src/shards/abstract/request-context.ts
  libs/api/bll/src/shards/decorators/requester.decorator.ts
  libs/api/dal/src/index.ts
  libs/api/dal/src/resources/event/event.entity.ts
  libs/shared/enums/src/dal/finance/payment-method.enum.ts
Due: prettier --write, eslint

🚨 Site: fix linter warnings & remove console.log
  apps/site/src/app/components/Form/MultiStepForm/TeamTransactionCreateForm.tsx
  apps/site/src/app/components/Form/MultiStepForm/TeamTransactionCreateFormStep/ReceiptUploadFormStep.tsx
  apps/site/src/app/components/Layout/SidePanel.tsx
  apps/site/src/app/components/Layout/Sidebar.tsx
  apps/site/src/app/components/SidePanel/FinanceSidePanel.tsx
  apps/site/src/app/components/SidePanel/UserSidePanel.tsx
  apps/site/src/app/views/Admin/EventValidation/EventValidationList.tsx
  apps/site/src/app/views/Event/EventView.tsx
Due: prettier --write, eslint

🐛 Graphql: remove scopeRole from individual selector
  libs/shared/graphql/src/selectors/individual/individualBase.ts
Due: prettier --write, eslint

♻️ Enums: remove Campus from LocationType, add Unspecified (for specific cases)
  libs/api/bll/src/shards/seeders/app.seeder.ts
  libs/shared/enums/src/dal/actor/location-type.enum.ts
Due: prettier --write, eslint

✏️ ♻️ DAL: refactor Finance entity
  libs/api/dal/src/resources/team/finance/finance.entity.ts
  libs/api/dal/src/resources/team/finance/finance.options.ts
  libs/shared/enums/src/dal/finance/address-type.enum.ts
  libs/shared/enums/src/dal/finance/finance-category.enum.ts
  libs/shared/enums/src/dal/finance/payed-by-type.enum.ts
  libs/shared/enums/src/dal/label/tag-type.enum.ts
  libs/shared/enums/src/index.ts
Due: prettier --write, eslint

🔇 Misc: remove some logs
  libs/api/bll/src/global/national-identification/national-identification.service.ts
  libs/shared/utils/src/dates/extract-date.ts
  libs/ui/organisms/src/Form/FormSchemaRender.tsx
  libs/ui/organisms/src/Form/MultiStepForm.tsx
Due: prettier --write, eslint

🐛 ✨ Seeding: add Account seeding & misc fixes
  libs/api/bll/src/shards/seeders/app.seeder.ts
  libs/api/bll/src/shards/seeders/factories/legal-unit-location.seeder.ts
  libs/api/bll/src/shards/seeders/factories/legal-unit.seeder.ts
  libs/api/bll/src/shards/seeders/factories/tag.seeder.ts
  libs/api/bll/src/shards/seeders/factories/team.seeder.ts
  libs/api/dal/src/resources/actor/legal-unit-location/legal-unit-location.entity.ts
  libs/api/dal/src/resources/actor/legal-unit-location/legal-unit-location.options.ts
  libs/api/dal/src/resources/actor/legal-unit/legal-unit.entity.ts
  libs/api/dal/src/resources/team/account-allocate/account-allocate.options.ts
Due: prettier --write, eslint

🔥 Enums: remove some unused enums
  libs/shared/enums/src/dal/document/docs-filters.enum.ts
  libs/shared/enums/src/dal/kind/actor-kind.enum.ts
  libs/shared/enums/src/dal/s3/resource-type.enum.ts
  libs/shared/enums/src/index.ts
Due: prettier --write, eslint

♻️ DAL: generate slugs only if no slugs are passed as option
  libs/api/dal/src/resources/actor/actor.entity.ts
  libs/api/dal/src/resources/actor/tag/tag.entity.ts
  libs/api/dal/src/resources/event/event.entity.ts
  libs/api/dal/src/resources/thread/thread.entity.ts
Due: prettier --write, eslint

♻️ DAL: remove cascade delete from tenant form
  libs/api/dal/src/resources/tenant/tenant.entity.ts
Due: prettier --write, eslint

🐛 DAL: fix 1:1 optional relationships
  libs/api/dal/src/resources/actor/actor.entity.ts
  libs/api/dal/src/resources/actor/legal-unit-location/legal-unit-location.entity.ts
  libs/api/dal/src/resources/actor/legal-unit/legal-unit.entity.ts
  libs/api/dal/src/resources/actor/location/location.entity.ts
  libs/api/dal/src/resources/form/form.entity.ts
  libs/api/dal/src/resources/individual/individual.entity.ts
  libs/api/dal/src/resources/team/expense/expense.entity.ts
  libs/api/dal/src/resources/team/team.entity.ts
Due: prettier --write, eslint

⬆️ Deps: upgrade dependencies
  apps/api/src/bootstrap/bootstrap.ts
  apps/api/src/bootstrap/cors.validation.ts
  libs/shared/types/src/api/dal/log.type.ts
  libs/shared/types/src/types/json.type.ts
  libs/shared/utils/src/files/to-csv.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

♻️ API: add postgres port to env config
  apps/api/configs/config.ts
  apps/api/configs/mikro-orm.config.ts
  libs/shared/types/src/api/config.interface.ts
Due: prettier --write, eslint

🐛 tsconfig: reference request-context-data.d.ts in API
  apps/api/tsconfig.app.json
Due: prettier --write

♻️ gitignore: refactor
  .gitignore
Due: none

💚 Workflows: add SHA to values.yaml in prod deploy
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

💚 Workflows: add SHA to values.yaml in prod deploy
  .github/workflows/backend-deploy-preprod.yml
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

🐛 Workflows: fix previous workflow commit
  .github/workflows/backend-deploy-preprod.yml
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

Update backend-deploy-prod.yml
  .github/workflows/backend-deploy-prod.yml
Due: prettier --write

🍱 Brand: update logo font weight
  libs/assets/src/svg/brands/okampus-large.svg
  libs/assets/src/svg/brands/okampus.svg
Due: none

🐛 API: fix Dockerfile (build migrations after main)
  apps/api/Dockerfile
  apps/api/vite.config.ts
Due: prettier --write, eslint

🐛 GraphQL: Fix renaming eventOrganize/tenantOrganize
  apps/api/database/hasura/metadata/databases/default/tables/public_event_organize.yaml
  apps/api/database/hasura/schema.gql
  libs/api/bll/src/global/search/to-searchable.ts
  libs/api/bll/src/shards/seeders/app.seeder.ts
  libs/api/dal/src/resources/event/event.entity.ts
  libs/api/dal/src/resources/event/event.options.ts
  libs/api/dal/src/resources/project/project.entity.ts
  libs/api/dal/src/resources/team/team.entity.ts
  libs/shared/graphql/src/index.ts
  libs/shared/graphql/src/mutations/event/insertEvent.ts
  libs/shared/graphql/src/schema.merged.graphql
  libs/shared/graphql/src/selectors/event/eventBase.ts
  libs/shared/graphql/src/selectors/event/eventManage.ts
  libs/shared/graphql/src/selectors/event/eventManage/eventManageBase.ts
  libs/shared/graphql/src/selectors/event/eventManage/eventManageDetails.ts
  libs/shared/graphql/src/selectors/event/eventOrganize/eventOrganizeBase.ts
  libs/shared/graphql/src/selectors/event/eventOrganize/eventOrganizeDetails.ts
  libs/shared/graphql/src/selectors/event/eventOrganize/eventOrganizeMinimal.ts
  libs/shared/graphql/src/selectors/project/projectBase.ts
  libs/shared/graphql/src/selectors/tenant/tenantManage.ts
  tools/scripts/init-features.sh
Due: prettier --write, eslint

♻️ ✨ Utils: refactor & add utils
  libs/shared/utils/src/arrays/unique.ts
  libs/shared/utils/src/headers/get-tenant-from-host.ts
  libs/shared/utils/src/headers/set-cookie-header-parser.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/numbers/extract-positive-number.ts
  libs/shared/utils/src/objects/is-key.ts
  libs/shared/utils/src/objects/object-keys.ts
Due: prettier --write, eslint

⬆️ Deps: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

♻️ API: rename cookies
  libs/shared/consts/src/global/strings/cookie-names.ts
Due: prettier --write, eslint

🐛 API: fix event logs & graphql log populate
  libs/api/bll/src/features/logs/logs.module.ts
  libs/api/bll/src/features/logs/logs.service.ts
  libs/shared/graphql/src/selectors/actor/actorMinimal.ts
  libs/shared/graphql/src/selectors/individual/individualMinimal.ts
  libs/shared/graphql/src/selectors/individual/userBase.ts
Due: prettier --write, eslint

♻️ Site: make locale folder only depend on project root
  apps/site/ssr/getTranslation.ts
Due: prettier --write, eslint

♻️ Site: minor frontend refactors
  apps/site/app/(frontend)/(app)/manage/event/[slug]/layout.tsx
  apps/site/app/(frontend)/frontend.css
  apps/site/components/layouts/SidePanel/EventManageSidePanel.tsx
  apps/site/components/layouts/SidePanel/EventSidePanel.tsx
  apps/site/components/layouts/SidePanel/TeamManageSidePanel.tsx
  apps/site/components/layouts/SidePanel/TenantManageSidePanel.tsx
  apps/site/components/molecules/Labeled/UserLabeled.tsx
  apps/site/components/molecules/Log/LogHistory.tsx
  apps/site/components/molecules/Log/LogItem.tsx
  apps/site/hooks/context/useTranslation.tsx
  libs/shared/graphql/src/selectors/event/eventDetails.ts
Due: prettier --write, stylelint --fix, eslint
