Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

.lintstagedrc:

{
  "**/*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "**/*.{js,jsx,ts,tsx}": ["eslint", "prettier --write"],
  "**/*.{html,json,md,yml}": ["prettier --write"]
}

♻️ Site: major layout refactor
  apps/site/src/app/App.tsx
  apps/site/src/app/components/Layout/Sidebar/SideShortcut.tsx
  apps/site/src/app/components/Layout/Sidebar/Sidebar.tsx
  apps/site/src/app/components/Layout/Sidebar/SidebarMenu.tsx
  apps/site/src/app/components/Layout/Topbar.tsx
  apps/site/src/app/menus.tsx
  apps/site/src/app/router.tsx
  apps/site/src/app/styles/layout.scss
  apps/site/src/app/views/AdminEventDashboard.tsx
  apps/site/src/app/views/TenantApp.tsx
Due: prettier --write, stylelint --fix, eslint

✨ Site: add gap-item util in tailwind config
  apps/site/tailwind.config.js
Due: prettier --write, eslint

🍱 Assets: update icons
  libs/assets/src/svg/icons/filled/add.svg
  libs/assets/src/svg/icons/filled/profile.svg
  libs/assets/src/svg/icons/filled/user-add.svg
  libs/assets/src/svg/icons/filled/user-group.svg
  libs/assets/src/svg/icons/filled/user-groups.svg
  libs/assets/src/svg/icons/outlined/add.svg
  libs/assets/src/svg/icons/outlined/profile.svg
  libs/assets/src/svg/icons/outlined/user-add.svg
  libs/assets/src/svg/icons/outlined/user-group.svg
  libs/assets/src/svg/icons/outlined/user-groups.svg
Due: none

♻️ Site: refactor Profile views
  apps/site/src/app/views/Me/MyView.tsx
  apps/site/src/app/views/Team/TeamView.tsx
  apps/site/src/app/views/TeamManage/ProfileManageView.tsx
  apps/site/src/app/views/TeamManage/TeamManageView.tsx
  apps/site/src/app/views/TeamProfile.tsx
  apps/site/src/app/views/User/UserProfile.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

✨ LabeledSideUser: add SidePanel user component
  libs/ui/molecules/src/Labeled/LabeledSideUser.tsx
  libs/ui/molecules/src/index.ts
Due: prettier --write, eslint

♻️ TeamDashboard: simplify component
  apps/site/src/app/views/TeamDashboard.tsx
Due: prettier --write, eslint

🍱 Assets: add new icons
  libs/assets/src/svg/icons/filled/add-box.svg
  libs/assets/src/svg/icons/filled/cancel.svg
  libs/assets/src/svg/icons/filled/ellipsis.svg
  libs/assets/src/svg/icons/filled/filter.svg
  libs/assets/src/svg/icons/filled/pending.svg
  libs/assets/src/svg/icons/filled/public.svg
  libs/assets/src/svg/icons/filled/refuse.svg
  libs/assets/src/svg/icons/filled/sort-arrows.svg
  libs/assets/src/svg/icons/filled/step-validation.svg
  libs/assets/src/svg/icons/filled/validate.svg
  libs/assets/src/svg/icons/filled/work.svg
  libs/assets/src/svg/icons/outlined/add-box.svg
  libs/assets/src/svg/icons/outlined/cancel.svg
  libs/assets/src/svg/icons/outlined/ellipsis.svg
  libs/assets/src/svg/icons/outlined/filter.svg
  libs/assets/src/svg/icons/outlined/pending.svg
  libs/assets/src/svg/icons/outlined/public.svg
  libs/assets/src/svg/icons/outlined/refuse.svg
  libs/assets/src/svg/icons/outlined/sort-arrows.svg
  libs/assets/src/svg/icons/outlined/step-validation.svg
  libs/assets/src/svg/icons/outlined/validate.svg
  libs/assets/src/svg/icons/outlined/work.svg
Due: none

🍱 Assets: add RedHatDisplay font
  apps/mobile/src/app/constants/theme/typography.ts
  apps/site/tailwind.config.js
  libs/assets/src/fonts/Figtree/README.txt
  libs/assets/src/fonts/FiraCode/README.txt
  libs/assets/src/fonts/Lexend/Lexend-Bold.ttf
  libs/assets/src/fonts/Lexend/Lexend-Light.ttf
  libs/assets/src/fonts/Lexend/Lexend-Medium.ttf
  libs/assets/src/fonts/Lexend/Lexend-Regular.ttf
  libs/assets/src/fonts/Lexend/Lexend-SemiBold.ttf
  libs/assets/src/fonts/Lexend/Lexend-Thin.ttf
  libs/assets/src/fonts/Lexend/Lexend-VariableFont_wght.ttf
  libs/assets/src/fonts/Lexend/README.txt
  libs/assets/src/fonts/RedHat_Display/OFL.txt
  libs/assets/src/fonts/RedHat_Display/RedHatDisplay-Italic-VariableFont_wght.ttf
  libs/assets/src/fonts/RedHat_Display/RedHatDisplay-VariableFont_wght.ttf
  libs/ui/styles/src/global/fonts.scss
Due: prettier --write, stylelint --fix, eslint

💄 ♻️ Site: update site styles
  apps/site/index.html
  apps/site/src/app/App.scss
  apps/site/tailwind.config.js
  libs/ui/styles/src/components/button.scss
  libs/ui/styles/src/components/text.scss
  libs/ui/styles/src/global/colors.scss
Due: prettier --write, stylelint --fix, eslint

♻️ UI: no default width on Skeleton
  libs/ui/atoms/src/Skeleton/Skeleton.tsx
  libs/ui/molecules/src/Skeleton/CardSkeleton.tsx
  libs/ui/molecules/src/Skeleton/LabeledTeamSkeleton.tsx
  libs/ui/molecules/src/Skeleton/LabeledUserSkeleton.tsx
  libs/ui/organisms/src/dashboard/Dashboard.tsx
Due: prettier --write, eslint

🐛 Utils: fix random snowflake
  libs/shared/utils/src/random/random-snowflake.ts
Due: prettier --write, eslint

✨ UI: add DynamicFormSubmission & refactor DynamicForm
  libs/ui/molecules/src/Labeled/LabeledInput.tsx
  libs/ui/molecules/src/index.ts
  libs/ui/organisms/src/dynamic-form/DynamicForm.tsx
  libs/ui/organisms/src/dynamic-form/DynamicFormSubmission.tsx
  libs/ui/organisms/src/index.ts
Due: prettier --write, eslint

💄 ♻️ UI: minor refactors
  apps/site/src/app/views/Welcome/WelcomePage.tsx
  libs/shared/types/src/interfaces/ui/button.props.ts
  libs/ui/atoms/src/Button/ActionButton.tsx
  libs/ui/atoms/src/Image/Avatar.tsx
  libs/ui/atoms/src/Popup/Modal.tsx
  libs/ui/atoms/src/Popup/Toast.tsx
  libs/ui/molecules/src/Card/PopoverCard.tsx
  libs/ui/molecules/src/Group/ItemGroup.tsx
  libs/ui/molecules/src/Input/BannerEditor.tsx
  libs/ui/molecules/src/Input/CategorySelector.tsx
  libs/ui/molecules/src/Labeled/LabeledSideUser.tsx
  libs/ui/molecules/src/Labeled/LabeledTeam.tsx
  libs/ui/molecules/src/Labeled/LabeledUser.tsx
Due: prettier --write, eslint

✨ UI: add ActionList & TabsList components
  libs/ui/molecules/src/List/ActionList.tsx
  libs/ui/molecules/src/List/TabsList.tsx
Due: prettier --write, eslint

🔥 UI: remove Bubble
  libs/shared/types/src/interfaces/ui/side-bubble.interface.ts
  libs/ui/atoms/src/Circle/Bubble.tsx
  libs/ui/atoms/src/index.ts
Due: prettier --write, eslint

✨ Utils: refactor & add utils
  libs/shared/utils/src/arrays/max.ts
  libs/shared/utils/src/arrays/non-empty-or-null.ts
  libs/shared/utils/src/enums/enum-keys.ts
  libs/shared/utils/src/index.ts
  libs/shared/utils/src/objects/is-value.ts
  libs/shared/utils/src/strings/strip-slash.ts
Due: prettier --write, eslint

♻️ Site: refactor ProfileBase & Apollo route querying
  apps/site/src/app/views/Me/MyView.tsx
  apps/site/src/app/views/ProfileBase.tsx
  apps/site/src/app/views/Team/TeamView.tsx
  apps/site/src/app/views/TeamManage/DocumentManageView.tsx
  apps/site/src/app/views/TeamManage/TeamManageView.tsx
  apps/site/src/app/views/TeamManage/TreasuryManageView.tsx
  apps/site/src/app/views/User/UserProfile.tsx
  libs/ui/hooks/src/contexts/useManageOrg.ts
  libs/ui/hooks/src/contexts/useMe.ts
  libs/ui/hooks/src/contexts/useOrg.ts
  libs/ui/hooks/src/contexts/useTeam.ts
  libs/ui/hooks/src/contexts/useTeamManage.ts
  libs/ui/hooks/src/contexts/useUser.ts
  libs/ui/utils/src/fragments/load-fragment.ts
  libs/ui/utils/src/index.ts
Due: prettier --write, eslint

✨ BLL: add TeamJoin module
  libs/api/bll/src/domains/factories/abstract/join.model.ts
  libs/api/bll/src/domains/factories/base.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/team-join.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/team-join.model.ts
  libs/api/bll/src/domains/factories/factory.module.ts
  libs/api/bll/src/domains/resources/team-joins/commands/create-team-join/create-team-join.command.ts
  libs/api/bll/src/domains/resources/team-joins/commands/create-team-join/create-team-join.handler.ts
  libs/api/bll/src/domains/resources/team-joins/commands/delete-team-join/delete-team-join.command.ts
  libs/api/bll/src/domains/resources/team-joins/commands/delete-team-join/delete-team-join.handler.ts
  libs/api/bll/src/domains/resources/team-joins/commands/update-team-join/update-team-join.command.ts
  libs/api/bll/src/domains/resources/team-joins/commands/update-team-join/update-team-join.handler.ts
  libs/api/bll/src/domains/resources/team-joins/queries/get-team-join-by-id/get-team-join-by-id.handler.ts
  libs/api/bll/src/domains/resources/team-joins/queries/get-team-join-by-id/get-team-join-by-id.query.ts
  libs/api/bll/src/domains/resources/team-joins/queries/get-team-joins/get-team-joins.handler.ts
  libs/api/bll/src/domains/resources/team-joins/queries/get-team-joins/get-team-joins.query.ts
  libs/api/bll/src/domains/resources/team-joins/team-joins.module.ts
  libs/api/bll/src/domains/resources/team-joins/team-joins.resolver.ts
  libs/api/bll/src/domains/resources/team-joins/team-joins.service.ts
  libs/api/bll/src/index.ts
  libs/api/dal/src/resources/join/join.entity.ts
  libs/api/dal/src/resources/join/join.options.ts
  libs/api/dal/src/resources/join/team-join/team-join.entity.ts
  libs/api/dal/src/resources/join/team-join/team-join.repository.ts
  libs/shared/dtos/src/resources/join/create-join.dto.ts
  libs/shared/dtos/src/resources/join/join.interface.ts
  libs/shared/dtos/src/resources/join/team-join/create-team-join.dto.ts
  libs/shared/dtos/src/resources/join/team-join/update-team-join.dto.ts
  libs/shared/dtos/src/resources/join/update-join.dto.ts
Due: prettier --write, eslint

♻️ BLL: refactor Form, FormSubmission, FormEdit..
  libs/api/bll/src/domains/factories/domains/forms/form-edit.model.ts
  libs/api/bll/src/domains/factories/domains/forms/form-submission.factory.ts
  libs/api/bll/src/domains/factories/domains/forms/form-submission.model.ts
  libs/api/bll/src/domains/factories/domains/forms/form.model.ts
  libs/api/dal/src/index.ts
  libs/api/dal/src/resources/ugc/form-edit/form-edit.entity.ts
  libs/api/dal/src/resources/ugc/form-edit/form-edit.options.ts
  libs/api/dal/src/resources/ugc/form-edit/form-edit.repository.ts
  libs/api/dal/src/resources/ugc/form-submission-edit/form-submission-edit.options.ts
  libs/api/dal/src/resources/ugc/form-submission/form-submission.entity.ts
  libs/api/dal/src/resources/ugc/form-submission/form-submission.options.ts
  libs/api/dal/src/resources/ugc/form/form.entity.ts
  libs/shared/dtos/src/resources/ugc/form-edit/form-edit.interface.ts
  libs/shared/dtos/src/resources/ugc/form-submission-edit/form-submission-edit.interface.ts
  libs/shared/dtos/src/resources/ugc/form-submission/form-submission.interface.ts
  libs/shared/dtos/src/resources/ugc/form-submission/form-submission.props.ts
  libs/shared/dtos/src/resources/ugc/form/form.interface.ts
  libs/shared/dtos/src/resources/ugc/form/form.props.ts
Due: prettier --write, eslint

♻️ BLL: replace updateActor by custom factory methods
  libs/api/bll/src/domains/factories/domains/bots/bot.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/team.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/team.model.ts
  libs/api/bll/src/domains/factories/domains/tenants/tenant.factory.ts
  libs/api/bll/src/domains/factories/domains/users/user.factory.ts
  libs/api/bll/src/domains/factories/domains/users/user.model.ts
  libs/api/bll/src/domains/factories/factory.utils.ts
  libs/api/bll/src/domains/resources/bots/commands/update-bot/update-bot.handler.ts
  libs/api/bll/src/domains/resources/teams/commands/update-team/update-team.command.ts
  libs/api/bll/src/domains/resources/teams/commands/update-team/update-team.handler.ts
  libs/api/bll/src/domains/resources/tenants/commands/update-tenant/update-tenant.command.ts
  libs/api/bll/src/domains/resources/tenants/commands/update-tenant/update-tenant.handler.ts
  libs/api/bll/src/domains/resources/tenants/tenants.service.ts
  libs/api/bll/src/domains/resources/users/commands/update-user/update-user.handler.ts
  libs/api/bll/src/domains/resources/users/users.resolver.ts
  libs/api/dal/src/resources/membership/membership.entity.ts
  libs/shared/dtos/src/resources/org/tenant/tenant/create-tenant.dto.ts
  libs/shared/enums/src/dal/join/join-state.enum.ts
  libs/shared/enums/src/global/approval-state.enum.ts
  libs/shared/enums/src/index.ts
Due: prettier --write, eslint

🐛 ♻️ API: miscellaneous fixes and refactors
  apps/api/src/app.module.ts
  libs/api/bll/src/domains/factories/domains/events/event-approval-step.factory.ts
  libs/api/bll/src/domains/factories/domains/images/actor-image.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/project.factory.ts
  libs/api/bll/src/domains/factories/domains/teams/team-action.model.ts
  libs/api/bll/src/features/uaa/authorization/casl/get-abilities.ts
  libs/api/dal/src/defaults/default-team-roles.ts
  libs/api/dal/src/resources/actor/user/user.entity.ts
  libs/api/dal/src/resources/content-master/event/event.entity.ts
  libs/api/dal/src/resources/join/event-join/event-join.entity.ts
  libs/api/dal/src/resources/org/team/team.entity.ts
  libs/api/dal/src/resources/org/team/team.options.ts
  libs/api/dal/src/resources/ugc/content/content.entity.ts
  libs/api/dal/src/resources/ugc/content/content.options.ts
  libs/api/dal/src/shards/abstract/base/base.repository.ts
  libs/api/dal/src/types/actor-entities.type.ts
  libs/shared/dtos/src/index.ts
  libs/shared/dtos/src/resources/actor/user/user.interface.ts
  libs/shared/dtos/src/resources/org/team/team.interface.ts
Due: prettier --write, eslint

🐛 BLL: fix auth guard (auto-refresh of tokens)
  apps/api/configs/config.ts
  libs/api/bll/src/features/uaa/authentification/auth.guard.ts
  libs/api/bll/src/features/uaa/authentification/auth.service.ts
Due: prettier --write, eslint

⚡️ 🐛 BLL: improve & fix loader
  libs/api/bll/src/domains/factories/domains/loader.ts
Due: prettier --write, eslint

♻️ Types: refactor types and enums
  libs/shared/enums/src/dal/actor/shortcut-type.enum.ts
  libs/shared/enums/src/site/subspace-type.enum.ts
  libs/shared/enums/src/site/view-type.enum.ts
  libs/shared/types/src/index.ts
  libs/shared/types/src/interfaces/api/config.interface.ts
  libs/shared/types/src/interfaces/ui/selected-item.interface.ts
  libs/shared/types/src/interfaces/ui/selected-menu.interface.ts
Due: prettier --write, eslint

🐛 ♻️ DAL: refactor and fix seeding
  libs/api/dal/src/shards/seeders/app.seeder.ts
  libs/api/dal/src/shards/seeders/factories/team.seeder.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

✨ Site: completely redesign navigation & layout
  apps/site/src/app/components/Layout/SidePanel.tsx
  apps/site/src/app/components/Layout/Sidebar.tsx
  apps/site/src/app/components/Layout/Sidebar/Sidebar.tsx
  apps/site/src/app/components/Layout/Sidebar/SidebarMenu.tsx
  apps/site/src/app/components/Layout/Topbar.tsx
  apps/site/src/app/menus.tsx
  apps/site/src/app/router.tsx
  apps/site/src/app/styles/layout.scss
  apps/site/src/app/utils/get-link.ts
  apps/site/src/app/views/ErrorPage.tsx
  apps/site/src/app/views/TeamCategoryList.tsx
  apps/site/src/app/views/TeamList.tsx
  apps/site/src/app/views/TenantApp.tsx
  libs/shared/consts/src/index.ts
  libs/shared/consts/src/site/routes.ts
Due: prettier --write, stylelint --fix, eslint

🐛 Site: fix CreateEventForm
  apps/site/src/app/components/Forms/CreateEventForm.tsx
Due: prettier --write, eslint

✨ Site: add TeamJoin views base
  apps/site/src/app/views/Team/TeamJoinForm.tsx
  apps/site/src/app/views/Team/TeamJoinView.tsx
  apps/site/src/app/views/TeamManage/TeamJoinManageView.tsx
  apps/site/src/app/views/TeamManage/ValidateTeamJoinForm.tsx
Due: prettier --write, eslint

♻️ UI: minor refactors
  apps/site/src/app/views/AdminEventDashboard.tsx
  apps/site/src/app/views/TeamDashboard.tsx
  libs/ui/atoms/src/Popup/Popover.tsx
  libs/ui/molecules/src/Card/TeamCard.tsx
  libs/ui/molecules/src/Card/TeamListCard.tsx
  libs/ui/molecules/src/Input/SelectMenu.tsx
Due: prettier --write, eslint

✨ UI: add new base components
  libs/ui/atoms/src/Label/RoleLabel.tsx
  libs/ui/atoms/src/index.ts
  libs/ui/hooks/src/index.ts
  libs/ui/molecules/src/Card/LabelCard.tsx
  libs/ui/molecules/src/Input/ButtonGroupRadio.tsx
  libs/ui/molecules/src/Labeled/LabeledTeamJoin.tsx
  libs/ui/molecules/src/index.ts
Due: prettier --write, eslint

✨ Graphql: add new fragments, mutations & refactor, regenerate
  libs/shared/graphql/src/fragments/formFragment.ts
  libs/shared/graphql/src/fragments/formSubmissionFragment.ts
  libs/shared/graphql/src/fragments/meFragment.ts
  libs/shared/graphql/src/fragments/teamFragment.ts
  libs/shared/graphql/src/fragments/teamJoinFragment.ts
  libs/shared/graphql/src/fragments/teamManageFragment.ts
  libs/shared/graphql/src/fragments/teamMembersFragments.ts
  libs/shared/graphql/src/index.ts
  libs/shared/graphql/src/mutations/team-join/createTeamJoin.ts
  libs/shared/graphql/src/mutations/team-join/updateTeamJoin.ts
  libs/shared/graphql/src/queries/getTeams.ts
  libs/shared/graphql/src/schema/__generated__/gql.ts
  libs/shared/graphql/src/schema/__generated__/graphql.ts
  libs/shared/graphql/src/schema/schema.gql
Due: prettier --write, eslint

🔨 Database: regenerate migrations
  apps/api/database/migrations/.snapshot-okampus.json
  apps/api/database/migrations/Migration20230316212555.ts
Due: prettier --write, eslint

⬆️ Deps: upgrade dependencies
  apps/api/Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

🚨 API: expect fastify/@nestjs/platform-fastify type mismatch
  apps/api/src/bootstrap/bootstrap.ts
Due: prettier --write, eslint

🐛 ➕ Deps: add @mercuriusjs/gateway (fix deps update)
  package.json
  pnpm-lock.yaml
Due: prettier --write

✨ API: add multiple linked orgs in UGC and event
  libs/api/bll/src/domains/factories/domains/contents/content.factory.ts
  libs/api/bll/src/domains/factories/domains/events/event.factory.ts
  libs/api/bll/src/domains/factories/domains/events/event.model.ts
  libs/api/bll/src/domains/factories/domains/forms/form-submission.factory.ts
  libs/api/bll/src/domains/factories/domains/forms/form.factory.ts
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/bll/src/domains/resources/events/commands/create-event/create-event.command.ts
  libs/api/dal/src/resources/content-master/content-master.entity.ts
  libs/api/dal/src/resources/content-master/event/event.entity.ts
  libs/api/dal/src/resources/content-master/event/event.options.ts
  libs/api/dal/src/resources/content-master/event/event.repository.ts
  libs/api/dal/src/resources/org/team/team.entity.ts
  libs/api/dal/src/resources/ugc/ugc.entity.ts
  libs/api/dal/src/resources/ugc/ugc.options.ts
  libs/api/dal/src/shards/seeders/app.seeder.ts
  libs/api/dal/src/shards/seeders/factories/event.seeder.ts
  libs/shared/dtos/src/resources/content-master/event/create-event.dto.ts
  libs/shared/dtos/src/resources/content-master/event/event.interface.ts
  libs/shared/dtos/src/resources/ugc/ugc.interface.ts
  libs/shared/graphql/src/fragments/eventFragment.ts
Due: prettier --write, eslint

✨ DAL: add events backref to Org
  libs/api/bll/src/domains/factories/domains/loader.ts
  libs/api/dal/src/resources/org/org.entity.ts
  libs/api/dal/src/resources/org/org.repository.ts
  libs/shared/dtos/src/resources/org/org.interface.ts
Due: prettier --write, eslint

⬆️ Deps: update dependencies
  apps/api/Dockerfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

➕ Deps: add diff package
  package.json
  pnpm-lock.yaml
Due: prettier --write
