Repository Okampus/okampus: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

💄 🐛 SidebarTitle: fix line clamp
  apps/site/app/_components/layouts/SideBar/SidebarTitle.tsx
Due: prettier --write, eslint

✨ ♻️ Site: add ContentLayout for pages with loading & empty state
  apps/site/app/(frontend)/(app)/team/[slug]/events/page.tsx
  apps/site/app/(frontend)/(app)/teams/[[...category]]/page.tsx
  apps/site/app/_components/atoms/Layout/GridLayout.tsx
  apps/site/app/_components/atoms/Skeleton/SkeletonItems.tsx
  apps/site/app/_components/layouts/ContentLayout.tsx
Due: prettier --write, eslint

🔥 Styles: remove useless colors & useless color classes
  apps/site/app/(frontend)/(app)/event/[slug]/EventView.tsx
  apps/site/app/(frontend)/(app)/manage/event/[slug]/joins/page.tsx
  apps/site/app/(frontend)/(app)/manage/event/[slug]/page.tsx
  apps/site/app/(frontend)/(app)/manage/team/[slug]/(history)/joins/page.tsx
  apps/site/app/(frontend)/(app)/manage/team/[slug]/(history)/page.tsx
  apps/site/app/(frontend)/(app)/manage/team/[slug]/(history)/socials/page.tsx
  apps/site/app/(frontend)/(app)/manage/tenant/documents/page.tsx
  apps/site/app/(frontend)/(app)/manage/tenant/page.tsx
  apps/site/app/_components/atoms/Image/AvatarImage.tsx
  apps/site/app/_components/atoms/Image/BannerImage.tsx
  apps/site/app/_components/atoms/Item/AddItem.tsx
  apps/site/app/_components/atoms/Item/FormItem.tsx
  apps/site/app/_components/atoms/Item/LinkItem.tsx
  apps/site/app/_components/atoms/Layout/SidebarLayout.tsx
  apps/site/app/_components/atoms/Layout/ViewLayoutTopbar.tsx
  apps/site/app/_components/atoms/Popup/Popover/PopoverContent.tsx
  apps/site/app/_components/forms/MultiStepPage/OnboardBankForm.tsx
  apps/site/app/_components/layouts/BottomBar.tsx
  apps/site/app/_components/layouts/SidePanel/Profile.tsx
  apps/site/app/_components/layouts/SidePanel/TeamSidePanel.tsx
  apps/site/app/_components/layouts/SidePanel/UserSidePanel.tsx
  apps/site/app/_components/layouts/TabBar/TabBar.tsx
  apps/site/app/_components/molecules/Button/MenuList.tsx
  apps/site/app/_components/molecules/Button/SegmentedButton.tsx
  apps/site/app/_components/molecules/Input/Date/DateInput.tsx
  apps/site/app/_components/molecules/Input/File/DocumentInput.tsx
  apps/site/app/_components/molecules/Input/MultiCheckboxInput.tsx
  apps/site/app/_components/molecules/Input/Search/AutoCompleteInput.tsx
  apps/site/app/_components/molecules/PopoverCard/EventPopoverCard.tsx
  apps/site/app/_components/molecules/PopoverCard/TeamPopoverCard.tsx
  apps/site/app/_components/molecules/PopoverCard/TenantPopoverCard.tsx
  apps/site/app/_components/molecules/PopoverCard/UserPopoverCard.tsx
  apps/site/app/_components/organisms/Calendar.tsx
  apps/site/app/_views/RequiredDocument/RequiredDocumentCard.tsx
  apps/site/styles/colors.scss
Due: prettier --write, stylelint --fix, eslint

♻️ 🚚 Locales: move locales to public, don't rely on custom API
  apps/site/app/api/locales/route.ts
  apps/site/public/locales/en-US/bank.json
  apps/site/public/locales/en-US/common.json
  apps/site/public/locales/en-US/determiners.json
  apps/site/public/locales/en-US/entities.json
  apps/site/public/locales/en-US/enums.json
  apps/site/public/locales/fr-FR/bank.json
  apps/site/public/locales/fr-FR/common.json
  apps/site/public/locales/fr-FR/determiners.json
  apps/site/public/locales/fr-FR/entities.json
  apps/site/public/locales/fr-FR/enums.json
  apps/site/server/ssr/getTranslation.ts
Due: prettier --write, eslint

🐛 Hasura: automatically remove trailing newline when pulling hasura schema
  apps/site/database/hasura/schema.gql
  apps/site/project.json
Due: prettier --write

✨ Package: create apps/site/.env if it doesn't exist on init
  package.json
Due: prettier --write

✨ Locales: add locales context type codegen
  apps/site/project.json
  apps/site/types/intl-context.type.ts
  tools/scripts/site/locate-codegen.sh
Due: prettier --write, eslint

✏️ Config: fix path to copy locales folder to root
  apps/site/next.config.js
Due: prettier --write, eslint

✏️ Site: fix path of local:codegen command
  apps/site/project.json
Due: prettier --write

✏️ Scripts: fix typo in locale-codegen script name
  tools/scripts/site/locale-codegen.sh
Due: none

♻️ Site: change locale detection strategy & refactor translate function
  apps/site/app/[lang]/(app)/manage/event/[slug]/joins/page.tsx
  apps/site/app/[lang]/(app)/manage/team/[slug]/(history)/joins/page.tsx
  apps/site/app/[lang]/(app)/manage/team/[slug]/events/page.tsx
  apps/site/app/[lang]/(app)/manage/tenant/event-approvals/page.tsx
  apps/site/app/[lang]/layout.tsx
  apps/site/app/_components/atoms/Preview/BankInfoPreview.tsx
  apps/site/app/_components/forms/MultiStepForm/TransactionForm/TransactionPayedByStep.tsx
  apps/site/app/_components/forms/MultiStepForm/TransactionForm/TransactionReceiptStep.tsx
  apps/site/app/_components/forms/MultiStepForm/TransactionForm/TransactionSummaryStep.tsx
  apps/site/app/_components/layouts/SidePanel/TransactionSidePanel/TransactionEdit.tsx
  apps/site/app/_components/layouts/SidePanel/TransactionSidePanel/TransactionSidePanel.tsx
  apps/site/app/_components/molecules/Log/LogItem.tsx
  apps/site/app/_context/global.ts
  apps/site/app/_hooks/context/useLocale.ts
  apps/site/app/_hooks/context/useTranslation.tsx
  apps/site/app/_hooks/usePersistLocaleCookie.ts
  apps/site/app/_views/TransactionDashboard.tsx
  apps/site/config/i18n.ts
  apps/site/middleware.ts
  apps/site/public/locales/en-US/actions.json
  apps/site/public/locales/en-US/common.json
  apps/site/public/locales/en-US/entities.json
  apps/site/public/locales/fr-FR/actions.json
  apps/site/public/locales/fr-FR/common.json
  apps/site/public/locales/fr-FR/entities.json
  apps/site/server/ssr/getLang.ts
  apps/site/server/ssr/getTranslation.ts
  apps/site/types/intl-context.type.ts
  apps/site/utils/i18n/translate.ts
Due: prettier --write, eslint

🐛 Site: locales fixes
  apps/site/server/ssr/getLang.ts
  apps/site/server/ssr/getTranslation.ts
Due: prettier --write, eslint

🐛 Site: ignore api paths in locale middleware
  apps/site/middleware.ts
Due: prettier --write, eslint

♻️ Locale: fetch only one dict at a time & add IntlProvider
  apps/site/app/[lang]/layout.tsx
  apps/site/app/_components/wrappers/IntlProvider.tsx
  apps/site/server/ssr/getTranslation.ts
Due: prettier --write, eslint

🐛 Hasura: allow inserting follows & form submissions
  apps/site/database/hasura/metadata/databases/okampus/tables/public_follow.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_form_submission.yaml
Due: none

♻️ Auth: add admin role to jwt & remove Okampus tenant role
  apps/site/database/prisma/migrations/20231009115414_init/migration.sql
  apps/site/database/prisma/seed.ts
  apps/site/database/prisma/seeders/default-roles.ts
  apps/site/server/trpc/auth/jwt.ts
  apps/site/server/trpc/auth/sessions.ts
  libs/shared/enums/src/dal/tenant/tenant-role-type.enum.ts
Due: prettier --write, eslint

♻️ ✨ Site: get tenant from domain, not user original tenant
  apps/site/app/[lang]/(app)/GetMe.graphql
  apps/site/app/[lang]/(app)/GetTenant.graphql
  apps/site/app/[lang]/(app)/event/[slug]/EventView.tsx
  apps/site/app/[lang]/(app)/layout.tsx
  apps/site/app/_components/wrappers/ApolloJotaiInitalizeMe.tsx
  apps/site/app/_components/wrappers/ApolloJotaiInitialize.tsx
  apps/site/app/_context/global.ts
  apps/site/app/_context/navigation.ts
  apps/site/database/hasura/metadata/databases/okampus/tables/public_admin_role.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_tenant.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_user.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/tables.yaml
  apps/site/database/hasura/schema.gql
  apps/site/database/prisma/seed-development.ts
  apps/site/utils/apollo/fragments.ts
  libs/shared/enums/src/global/approval-state.enum.ts
  libs/shared/graphql/src/generated.ts
  libs/shared/graphql/src/schema.merged.graphql
  tools/scripts/init.sh
Due: prettier --write, eslint

♻️ Hasura: add admin role select permissions
  apps/site/database/hasura/metadata/databases/okampus/tables/public_admin_role.yaml
  libs/shared/graphql/src/generated.ts
Due: prettier --write, eslint

🐛 ♻️ Site: minor fixes & refactors
  apps/site/app/[lang]/[domain]/page.tsx
  apps/site/app/[lang]/page.tsx
  apps/site/config.ts
  apps/site/database/prisma/seed.ts
  apps/site/next.config.js
  apps/site/server/trpc/auth/sessions.ts
  apps/site/server/trpc/context.ts
  package.json
Due: prettier --write, eslint

✨ Locales: add server-errors & common dict
  apps/site/public/locales/en-US/common.json
  apps/site/public/locales/en-US/server-errors.json
  apps/site/public/locales/fr-FR/common.json
  apps/site/public/locales/fr-FR/server-errors.json
  apps/site/types/intl-context.type.ts
Due: prettier --write, eslint

♻️ ✨ Auth: remove tenantScope from jwt, replace trpc login with server action, refactor signin & getTranslation
  apps/site/app/[lang]/(auth)/signin/page.tsx
  apps/site/app/_forms/NextForm/NextForm.tsx
  apps/site/app/_forms/NextForm/NextFormSubmitButton.tsx
  apps/site/app/_forms/SigninForm.tsx
  apps/site/app/api/auth/[tenantOidcName]/callback/route.ts
  apps/site/database/hasura/metadata/databases/okampus/tables/public_file_upload.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_follow.yaml
  apps/site/database/hasura/metadata/databases/okampus/tables/public_form_submission.yaml
  apps/site/server/actions/login.ts
  apps/site/server/ssr/getLang.ts
  apps/site/server/ssr/getTranslation.ts
  apps/site/server/trpc/auth/jwt.ts
  apps/site/server/trpc/auth/sessions.ts
  apps/site/server/trpc/context.ts
  apps/site/server/trpc/router.ts
  apps/site/server/trpc/routes/login.ts
Due: prettier --write, eslint

♻️ ✨ Auth: refactor middleware, add redirects for multitenant (temp) + minor refactors
  apps/site/app/[lang]/(auth)/signin/tenant/page.tsx
  apps/site/app/_components/wrappers/RedirectSignin.tsx
  apps/site/app/_components/wrappers/TRPCProvider.tsx
  apps/site/app/_context/navigation.ts
  apps/site/config.ts
  apps/site/middleware.ts
  apps/site/server/ssr/trpcServer.ts
Due: prettier --write, eslint

♻️ 💄 Site: UI refactors & minor changes
  apps/site/app/[lang]/[domain]/page.tsx
  apps/site/app/[lang]/frontend.css
  apps/site/app/_components/atoms/Image/EmptyStateImage.tsx
  apps/site/app/_components/layouts/SideBar.tsx
  apps/site/styles/button.scss
  apps/site/styles/colors.scss
  apps/site/styles/components/input.scss
  apps/site/styles/input.scss
  apps/site/styles/layout.scss
Due: prettier --write, stylelint --fix, eslint

🐛 getApolloQuery: fix default type in case of no variable query
  apps/site/server/ssr/getApolloQuery.ts
Due: prettier --write, eslint

🔥 Hasura: remove get_role function
  apps/site/database/prisma/migrations/20231009115414_init/migration.sql
Due: none

♻️ Middleware: redirect to signin/tenant only if refresh token is valid
  apps/site/middleware.ts
  apps/site/server/trpc/auth/jwt.ts
Due: prettier --write, eslint

✨ Site: add ZoomCropper
  apps/site/app/_components/molecules/ImageEditor/ZoomCropper.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🐛 Scripts: fix wait init for hasura
  tools/scripts/graphql/wait-init.sh
Due: none

🐛 Scripts: add generate after migrate in migrate.sh
  tools/scripts/prisma/migrate.sh
Due: none

⬆️ Deps: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

🐛 ➕ Deps: add missing s3 dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

🍱 Site: update logo
  apps/site/app/[lang]/(auth)/signin/page.tsx
  apps/site/app/_components/layouts/BottomBar.tsx
  apps/site/app/_components/layouts/SidePanel/UserSidePanel.tsx
  apps/site/app/_components/layouts/TabBar/TabBar.tsx
  apps/site/app/_components/molecules/PopoverCard/TeamPopoverCard.tsx
  apps/site/app/_components/molecules/PopoverCard/TenantPopoverCard.tsx
  apps/site/app/_components/molecules/PopoverCard/UserPopoverCard.tsx
  libs/assets/src/svg/brands/okampus-large.svg
  libs/assets/src/svg/brands/okampus-square.svg
  libs/assets/src/svg/brands/okampus.svg
Due: prettier --write, eslint

♻️ Site: TEMP COMMIT remove aws-sdk/signature, revert superjson to 1.13
  apps/site/app/[lang]/[domain]/manage/event/[slug]/page.tsx
  apps/site/app/_components/forms/MultiStepForm/TransactionForm/TransactionReceiptStep.tsx
  apps/site/app/_components/molecules/ImageEditor/AvatarEditor.tsx
  apps/site/app/_components/molecules/ImageEditor/BannerEditor.tsx
  apps/site/app/_components/molecules/ImageEditor/ImageCropperEditor.tsx
  apps/site/app/_components/molecules/ImageEditor/ZoomCropper.tsx
  apps/site/app/_components/molecules/Input/File/FileInput.tsx
  apps/site/app/_forms/NextForm/NextForm.tsx
  apps/site/public/locales/en-US/server-errors.json
  apps/site/public/locales/fr-FR/server-errors.json
  apps/site/server/actions/auth-context.ts
  apps/site/server/actions/upload.ts
  apps/site/server/trpc/auth/sessions.ts
  apps/site/server/trpc/context.ts
  apps/site/server/trpc/dtos/getOcrPresignedUrl.ts
  apps/site/server/trpc/dtos/getPresignedUrls.ts
  apps/site/server/trpc/router.ts
  apps/site/server/trpc/routes/getOcrPresignedUrl.ts
  apps/site/server/trpc/routes/getPresignedUrls.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🐛 Site: remove server-only from getTranslation
  apps/site/server/ssr/getTranslation.ts
Due: prettier --write, eslint

🐛 Webpack: ignore aws signature to avoid native module error
  apps/site/next.config.js
Due: prettier --write, eslint

✨ Scripts: add enum-codegen, generating ts enums from prisma schema
  tools/scripts/site/enum-codegen.sh
Due: none

🔥 Scripts: remove enum-codegen
  apps/site/project.json
  tools/scripts/site/enum-codegen.sh
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.{css,scss}) or (any of: **/*.{js,jsx,ts,tsx})) or (any of: **/*.{html,json,md,yml})
  stylelint --fix: any of: **/*.{css,scss}
  eslint: any of: **/*.{js,jsx,ts,tsx}
